<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="docsSimpleDirective">
<head>
	<META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />

	<title>Compass</title>

		<link rel="stylesheet" type="text/css" href="style.css"/>

		<script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    	<script language="javascript" type="text/javascript" src="problemController.js"></script>
    	<script language="javascript" type="text/javascript" src="problemDatabaseController.js"></script>
        <script language="javascript" type="text/javascript" src="script.js"></script>

</head>
<body >
	<header>
		<h1>Compass</h1>
	</header>

<div id="inhalt">
<nav>
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="/Probleme/">Probleme</a></li>
<li><a href="/Strategien/">Strategien</a></li>
<li><a href="/Suche/">Suchen</a></li>

</ul> </nav>

<section ng-controller="problemController">
    <h4>Aktuelle Probleme(aus lokaler datei):</h4>
    <ul>
        <li class="problem" ng-repeat="problem in probleme">
           <h1> <p class="problemName"> {{problem.name}}<p/></h1>
            Status: {{problem.status}}</p>
            <img src="check.png" ng-show="ShowImg(problem.status)"/>
            <p class="problemBeschreibung">Problembeschreibung: {{problem.beschreibung}}</p>
            <ul>
                <li class="tag" ng-repeat="tag in problem.tags"><a href="index.html">{{tag.name}}</a></li>
            </ul>
        </li>
    </ul>
</section>
</div>

<!-- <section ng-controller="problemDatabaseController">
<h4 >Aktuelle Probleme (aus Datenbank):</h4>
<ul>
    <li class="problem" ng-repeat="problem in probleme">
        <p class="problemName">{{problem.description}}</p>
        Status: {{problem.created}}.
        <p class="problemBeschreibung">Problembeschreibung: {{problem.title}}</p>
        <ul>
            <li class="tag" ng-repeat="tag in problem.tags"><a href="index.html">{{tag.name}}</a></li>
        </ul>
    </li>
</ul>
</section> -->

<section>
     <!-- <div ng-controller="Ctrl"> -->
         <div nt-attr-dir></div>
</section>

<!-- <section ng-app="testDirektive">
    <div ng-controller="direktive">
    <myDiretive></myDiretive>
    </div>
    
</section>
 -->

</body>
</html>