header {
	border: 2px solid black;
	text-align: center;
	height: 100px;
	padding-bottom: 40px;
}

#inhalt {
  float: none;
}

nav {
  margin-top: 50px;
  border: 2px solid black;
  width: 100%;
  display: block;
  float: left;
}
nav ul li {
  float: left;
  margin-right: 30px;
  list-style: none;
}

nav ul li a {
  display: block;
  margin-top: 5px;
  text-decoration: none;
  font-size: 20px;
  background: #2C5463;
  color: #ffffff;  
  white-space: nowrap;
  height:30px; /* Width and height of top-level nav items */
  width:90px;
  text-align:center;
 
}

li.problem {
  margin-top: 20px;
  display:block;
  text-decoration: none;
  height: auto;
  width: 50%;
  padding: 40px;
  color: black;
  border: black solid 2px;
}

.tag {
  float: left;
  background-color: lightblue;
  margin-left: 3em;
  display:block; margin-bottom:5px; text-align:center; width:auto; height: auto;
  padding:2px; text-decoration:none;

  -moz-border-radius:5px; /* Firefox */
  -webkit-border-radius:5px; /* Safari, Chrome */
-khtml-border-radius:5px; /* Konqueror */
border-radius:5px; /* CSS3 */
}

.tag a {
  text-decoration: none;
}

/*.tag:hover {
  color: yellow;
  background-color: white;
  font-size: 30px;
}*/

.problemName{
  color: blue;
  font-size: 20px;
  font-style: bold;
}

.problemBeschreibung{
  background-color: lightgrey;

}