﻿/**
* Grundlayout für alle Seiten
*
*@Author Patrick Rütz
*Hier wird das Grundlayout für alle Seiten definiert.
*Alternatives Layout mit dunkelen Hintergrund und Heller Schrift
*/


 body {
 	background-color: #FFFF00;                 
  color:   black;    
  font-size: 14px; 
  font-family: verdana;                       
 }

 header {
    background-color:  #FFFF00;                    
    color: black;                      
    text-align: center;
    height: 100%;
}

header img {
display: none;
}
 

header p img {
  width: 100px;
  height: 100px;
  display: inline;
}

ul h1 {
  padding-bottom: 15px;
  padding-top: 30px;
}
h1 {
margin-top: 50px;
text-align: center;
margin-bottom: 23px;
}



/* Die obere Navigationsleiste (helles und kontrastreiches Layout, login) */
#searchbutton1{
  margin-left: 43%;
}


/* Die oberen 3 links für Login, sowie helles und kontrastreiches Layout */

.login {
  color: black;
  background-color: #00FF00;
  border: solid 2px #00FF00;
  font-size: 14px;
  list-style-type: none;
  float: left;
  margin-right: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 4px;
  margin-left: 9px;
}
.login a{
  color: black; 
  text-decoration: none;
}

.login>a:hover{
    color: white;
    background: #666; 
}

.login:hover{
    color: white;
    background: #666;
    border: solid 2px #00FF00;
}

.invisibleLabel {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.small li{
  color: black;
  background-color: #00FF00;
  border: solid 2px #00FF00;
  font-size: 14px;
  list-style-type: none;
  float: right;
  margin-right: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 4px;
  margin-right: 19px;
}

.small li a {
  color: black;
  text-decoration: none;
}

.small li:hover{
    color: white;
    background: #666;
    border: solid 2px #00FF00;
}

.small li a:hover{
 color: white; 
}

/* Das große Suchfeld auf der index.html */

.big{
  height: 200px;
  width: 100%
}
.big input[type="text"]{
  font-family: verdana;
  margin-top:50px;
  height: 30px;
  width: 75%;
  float: left;
  color: black;
  font-family: verdana;
  font-size: 14px;
  border: solid 4px #E5F3F8;;
  border-radius: 10px;
  background-color: white;
  margin-left: 12.5%;

}

.big select{
  width: 75%;
  margin-left: 12.5%;
} 


.result {
  font-size: 26px;
  color: blue;
}

#buttonarea{
 margin: 40px;  
 text-align: center;
}

.invisibleLabel {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}


#buttonarea ul>li{
  padding: 5px;
  background-color: #ecf0f3; 
  margin:30px;
  list-style-type: none;
  float: left;  
  border: solid black 2px;
}

#buttonarea li:hover{
  background-color: lightgrey; 
} 


#maintext {
  margin: 75px;
  margin-top: 0px;
}


/* für das Problem */

.problem {
  color: black; /* #1e212a; */
  background-color: yellow;
  margin-top: 30px;
  display:block;
  text-decoration: none;
  height: 75%;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: black solid 1px;
  border-top: black solid 1px;
}

#problembottom{
  margin-top: 5px;
}

#countsolution{
  border: solid black 2px;
}

.comment{
  border-bottom: solid black 1px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.solution{
  margin-top: 15px;
  margin-bottom: 15px;
}

.solutionbox{
  margin-top:15px;
}


footer {

      margin-top: 300px;
      border-top: solid black 1px;
      color:black;
      text-align: center;
      font-size: 20px;
} 

.small ul li{
  color: black;
  font-size: 20px;
  list-style-type: none;
  float: right;
  margin-right: 10px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}


h1,h2,h3,h4,h5,h6 {
color:black;
}

#unaskquestions{
  margin-left: 37px;
}

#currentquestions{
  margin-left: 37px;
}
#tagquestions{
  margin-left: 85px;
}

.borderbox{
  border:solid black 2px;
}

.tagbox{
  float: left;
  border: solid black 2px;
  height: 50px;
  width: 200px;
  background-color: lightgray;
  opacity: 1.0;
}

.tagsection{
  border-top: solid black 2px;
  padding: 10px;
}

.tag{
  background-color: lightgray;
  opacity: 1.0;
}

  .tagsection .tag {
  padding: 0px;
  margin:0px;
  margin-left: 5px;
  font-size: 16px;
  }

.ratingbox{
  border-top: solid 2px black;
  font-size: 16px;
}

.created {
  font-size: 12px;
}







/* test für das design eines shortview */
.prob{
  background-color: #FFFF00;
  border: solid black 2px;
  width: 100%;
  margin-top: 30px;

}
.prob a{
text-decoration: none;
}
.prob .tagsection{
  border-top:none;
}
.prob .tagsection .tag{
background-color: lightgray;
color: black;
padding: 0px;
margin:0px;
margin-left: 5px;
font-size: 16px;
opacity: 1.0;
}

.problist{
  list-style-type: none;
}

.probhelpyes{
  display:block;
color: green;
font-size: 16px;
}
.probhelpno{
color: red;
font-size: 16px;
}

.top{
  clear: both;
  margin-left: 5px;
  margin-right: 5px;
}

.topleft{
margin-left: 5px;
}

.topright{
float:left;
text-align: right;
}

.bottom{
  border-top: solid black 2px;
}

.bottomleft{
 margin-left: 5px;

}

.bottomright{
text-align: right;
float: left;
}

/* Yaml */

/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 *
 * (en) Horizontal list navigation "hlist"
 * (de) Horizontale Navigationsliste "hlist"
 *
 * @copyright       © 2005-2013, Dirk Jesse
 * @license         CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-CDL (http://www.yaml.de/license.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         4.1.2
 */
@media all {
  .ym-hlist {
    /* (en) containing floats in IE */
    /* (de) Einfassen der Floats im IE */
    width: 100%;
    overflow: hidden;
    position: relative;
    line-height: 1em;
    background: #FFFF00;
    border:none;
  }
  .ym-hlist ul {
    margin: 0;
    padding: 0.5em 1.5em;
    display: inline;
    float: left;
  }
  .ym-hlist ul li {
    display: inline;
    float: left;
    background-color: #00FF00;
    font-size: 1.0em;
    line-height: 1;
    list-style-type: none;
    margin: 0 .25em 0 0;
    padding: 0;
  }
  .ym-hlist ul li a, .ym-hlist ul li strong {
    background: transparent;
    color: black;
    display: block;
    font-size: 1em;
    border: solid #00FF33 2px;
    line-height: 2em;
    padding: 0 0.5em;
    font-weight: normal;
    text-decoration: none;
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); */
    width: auto;
  }
  .ym-hlist ul li a:focus,
  .ym-hlist ul li a:hover,
  .ym-hlist ul li a:active {
    color: white;
    background: #666;
    /* background: rgba(255, 255, 255, 0.25); */
    border-radius: 0.2em;
    text-decoration: none;
    outline: 0 none;
  }




  .ym-hlist ul li.active {
    background: #666;
    /* background: rgba(255, 255, 255, 0.2); */
    border-radius: 0.2em;
    color: white;
  }
  .ym-hlist ul li.active strong,
  .ym-hlist ul li.active a:focus,
  .ym-hlist ul li.active a:hover,
  .ym-hlist ul li.active a:active {
    background: transparent;
    color: white;
    text-decoration: none;

  }

  /* ------- search form -------- */
  .ym-searchform {
    float: right;
    display: inline;
    line-height: 2;
    padding: 0.5em 1.5em;
  }
    .ym-searchform .ym-searchfield:focus {
    background-color: white;
  }
  .ym-searchform .ym-searchfield {
    -webkit-appearance: none;
    background: #FFFF00;
    color: black;
    line-height: 1;
    padding: 0.25em;
    width: 12em;
    border: solid 2px black;
    outline: none;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .ym-searchform .ym-searchbutton {
    -webkit-appearance: none;
    background: #ecf0f3;
    /* background: rgba(255, 255, 255, 0.2); */
    border-radius: .2em;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: 1.25;
    padding: 0.25em;
    border: solid 2px black;
    margin-left: 2px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }
}



.ym-form {
    background: #FFFF00;
    border: 2px black solid;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow: 0 0 4px #dddddd;
    box-shadow: 0 0 4px #dddddd;
  }

 .ym-form input[type="text"]{
    background: #FFFF00;
    border: 2px #00FF00 solid;
  }

   .ym-form input[type="password"]{
    background: #FFFF00;
    border: 2px #00FF00 solid;
  }

   .ym-form input[type="text"]:focus {
    background: white;
    border: 2px #00FF00 solid;
  }

     .ym-form input[type="password"]:focus {
    background: white;
    border: 2px #00FF00 solid;
  }



/* Placeholder auf schwarz setzen */
::-webkit-input-placeholder { color:black; }
::-moz-placeholder { color:black; } /* firefox 19+ */
:-ms-input-placeholder { color:black; } /* ie */
input:-moz-placeholder { color:black; }

/* individual: webkit */
#field2::-webkit-input-placeholder { color:black; }
#field3::-webkit-input-placeholder { color:black; background:lightgreen; text-transform:uppercase; }
#field4::-webkit-input-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:black; }

/* individual: mozilla */
#field2::-moz-placeholder { color:black; }
#field3::-moz-placeholder { color:black; background:lightgreen; text-transform:uppercase; }
#field4::-moz-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:black; }


/* Validierung der Eingabefelder */

 .ym-form{
  border:none;
  box-shadow: none;
 }

 .ym-form input:invalid,
 .ym-form textarea:invalid{
  background-color: orange;
  }

 .ym-form input:valid,
 .ym-form textarea:valid {
    background-color: #FFF;
  }

  .ym-form textarea:focus{
   background-color: #FFF; 
   border: 2px #00FF00 solid;
  }

  .ym-form textarea:hover{
   border: 2px #00FF00 solid;
  }

  .ym-form textarea{
   background-color: #FFF; 
   border: 2px #00FF00 solid;
  }




    /* ------- search form -------- */
  .ym-searchform {
    float: right;
    display: inline;
    line-height: 2;
    padding: 0.5em 1.5em;
  }
  .ym-searchform .ym-searchfield {
    -webkit-appearance: none;
    background: yellow;
    line-height: 1;
    padding: 0.25em;
    width: 15em;
    border: solid 2px #00FF00;
    outline: none;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  }

  .ym-searchform select{
    width: 18em;
  }

 .ym-searchform .ym-searchbutton {
    -webkit-appearance: none;
    background: #00FF00;
    border-radius: .2em;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: 1.25;
    padding: 0.25em;
    border: solid 2px #00FF00;
    margin-left: 2px;
  }

  .ym-searchbutton:hover {
    color: white;
    background: #666;
    border: solid 2px #00FF00;
  }

  .ym-button.ym-primary,
  .ym-form button.ym-primary,
  .ym-form input[type="button"].ym-primary,
  .ym-form input[type="reset"].ym-primary,
  .ym-form input[type="submit"].ym-primary {
    margin-top: 30px;
    -webkit-box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.3) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8888ee), color-stop(100%, #6666cc));
    background-image: -webkit-linear-gradient(top, #8888ee, #6666cc);
    background-image: -moz-linear-gradient(top, #8888ee, #6666cc);
    background-image: -ms-linear-gradient(top, #8888ee, #6666cc);
    background-image: linear-gradient(to bottom, #00FF33, #33FF66); /* Hier den Farbverlaufändern */
    background-color: #00FF00;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#FF8888EE', endColorstr='#FF6666CC');
    zoom: 1;
    border: 1px solid #007;
    color: black !important;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  }
  .ym-button.ym-primary:hover,
  .ym-form button.ym-primary:hover,
  .ym-form input[type="button"].ym-primary:hover,
  .ym-form input[type="reset"].ym-primary:hover,
  .ym-form input[type="submit"].ym-primary:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8888ff), color-stop(100%, #6666dd));
    background-image: -webkit-linear-gradient(top, #8888ff, #6666dd);
    background-image: -moz-linear-gradient(top, #8888ff, #6666dd);
    background-image: -ms-linear-gradient(top, #8888ff, #6666dd);
    background-image: linear-gradient(to bottom, #8888ff,#6666dd);
    background-color: #33FF66;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#FF8888FF', endColorstr='#FF6666DD');
    zoom: 1;
  }
  .ym-button.ym-primary:active,
  .ym-form button.ym-primary:active,
  .ym-form input[type="button"].ym-primary:active,
  .ym-form input[type="reset"].ym-primary:active,
  .ym-form input[type="submit"].ym-primary:active {
    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8888cc), color-stop(100%, #6666aa));
    background-image: -webkit-linear-gradient(top, #8888cc, #6666aa);
    background-image: -moz-linear-gradient(top, #8888cc, #6666aa);
    background-image: -ms-linear-gradient(top, #8888cc, #6666aa);
    background-image: linear-gradient(to bottom, #8888cc,#6666aa);
    background-color: #33FF66;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#FF8888CC', endColorstr='#FF6666AA');
    zoom: 1;
  }
  .ym-button.ym-primary:focus,
  .ym-form button.ym-primary:focus,
  .ym-form input[type="button"].ym-primary:focus,
  .ym-form input[type="reset"].ym-primary:focus,
  .ym-form input[type="submit"].ym-primary:focus {
    outline: 0;
    background: #00FF00;
  }