/**
* Grundlayout für alle Seiten
*
*@Author Patrick Rütz
*Hier wird das Grundlayout für alle Seiten definiert.
*Alternatives Layout mit sehr kontrastreichem Hintergrund und dunkler Schrift
*/


 body {
 	background-color:  white;                  /* #dbd2d7 */
 	color:   black;    
  font-size: 14px; 
  font-family: verdana;                        /* #1e212a;   */
 }
 body a {
  color: black;
 }

 header {
    background-color:  #eaf7fb;
    text-align: center;
    height: 100%;
}


ul h1 {
  padding-bottom: 15px;
  padding-top: 30px;
}

#searchbutton1{
  margin-left: 43%;
}


/* Die oberen 3 links für Login, sowie helles und kontrastreiches Layout */

.login {
  color: black;
  background-color: #add8e6;
  font-size: 14px;
  list-style-type: none;
  float: left;
  margin-right: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 4px;
  margin-left: 9px;
}
.login a{
  color: black;
  text-decoration: none;
}

.login:hover{
  background-color: #3bc9f8;
}

.invisibleLabel {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.small li{
  color: black;
  background-color: #add8e6;
  font-size: 14px;
  list-style-type: none;
  float: right;
  margin-right: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 4px;
  margin-right: 19px;
}

.small li a {
  color: black;
  text-decoration: none;
}

.small li:hover{
  background-color: #3bc9f8;
}

/* Das große Suchfeld auf der index.html */

.big{
  height: 200px;
  width: 100%
}
.big input[type="text"]{
  font-family: verdana;
  margin-top:50px;
  height: 30px;
  width: 75%;
  float: left;
  color: black;
  font-family: verdana;
  font-size: 14px;
  border: solid 4px #E5F3F8;;
  border-radius: 10px;
  background-color: white;
  margin-left: 12.5%;

}

.big select{
  width: 75%;
  margin-left: 12.5%;
}

/* Die Darstellung der Problemekurzansicht */

.problist{
 
}

.headline{
  margin-bottom: 0px;
  text-align:  center;  
  background-color: lightblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.problem {
   border: solid 1px lightgrey;
   margin-left: 5px;
   margin-right: 0px;
   font-family: Verdana; 

}

.problem:hover{
  background-color: #F2FBEF;
}

.problemtop{

}
.problembottom{

}
.problembottomright{
  text-align: right;
  margin-right: 5px;
}
.problemtopleft{
  margin-left: 5px;
}
.problemtopright{
  text-align: right;
  margin-right: 5px;
  font-size: 14px;  
}

.problemtopright img{
width: 30px;
height: 30px; 
}

.problemtagsection ul{
list-style-type: none;
}

.problemtag{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float:left;
  background-color: #A9F5F2;
  font-size: 13px;
  margin-bottom: 10px;
}

.topic{
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 10px; 
}

.topic a{
  margin: 4px;
  color: black;
  text-decoration: none;  
}

.problemedit{
  text-align: right;
  background-color: lightblue;
}


.problemtag a{
  margin: 4px;
  color: black;
  text-decoration: none;
}

.foundtag{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  float:left;
  background-color: yellow;
  font-size: 13px;
  margin-bottom: 10px;
}


.foundtag a{
  margin: 4px;
  color: black;
  text-decoration: none;
}



h3>a {
  color: black;
  text-decoration: none;
}

h3>a:hover {
background-color: lightblue;
}



.tagoverview{
 list-style-type: none;
 margin-top: 15px;
}

#tagoverview{
  margin-top: 30px;
}


/* Darstellung einer konkreten Frage */

#problemdescription{
  background-color: #F2FBEF;
  padding-left: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#tagsection{


}

#tagsection h2{
 font-size: 14px;
 float:left;

}
#tagsection ul{
 list-style-type: none; 

}

#created{

}

#countsolution{

}

/* Darstellung einer Lösung für eine Frage
 */

 .solution{
  background-color: lightgreen;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
 }
.solution h2{
  margin-bottom: 15px;  
 }

 .solutiondescription{
  padding-left: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 40px;
  margin-right: 5px;
 }

 .ratingsection{
  background-color: #F2FBEF;
    color: black;
 }

 .help{
  margin-bottom: 15px;
  padding-left: 15px;
 }

 .help:hover{
  background-color: lightblue;
 }
  .difficult{
  margin-bottom: 5px;
  padding-left: 15px;
 }

 .difficult:hover{
  background-color: lightblue;
 }

 .finalsolution{
  text-align: right;
  margin-right: 5px;
  float: left;
 }
 .finalsolution:hover{
  opacity: 1.0;
 }

 .comment{
  border-top: solid 1px black;
  margin-top: 20px; 
 }
 .comment a{
  color: black;
 }
 .solutionbox{
  margin-left: -13px;
  margin-top: 35px;
 }

 .solutioncreated{
  text-align: right;
  margin-top: 50px;
  margin-right: 5px;
 }

 /* Suche von Fragen */

.searchpages{
  font-size: 14px;
}

.searchpages ul{
  list-style-type: none;
}

.searchpages li{
  float: left;
}



h1 {
margin-top: 50px;
text-align: center;
margin-bottom: 23px;
}

p>img{
  padding: 10px;
  width: 25px;
  height: 25px;
}

.paddingclass{
  padding: 10px;
}

#buttonarea{
 margin: 40px;  
 text-align: center;
}

#unaskquestions{
  margin-left: 37px;
}

#currentquestions{
  margin-left: 30px;
}
#tagquestions{
  margin-left: 26px;
}


#buttonarea ul>li{
  padding: 5px;
  background-color: #ecf0f3; 
  margin:30px;
  list-style-type: none;
  float: left;  
  border: solid black 2px;
}

#buttonarea li:hover{
  background-color: lightgrey; 
}

#maintext {
  margin: 75px;
  margin-top:0px;
}

footer {

      margin-top: 300px;
      border-top: solid black 1px;
	    background-color:#e5f3f8;;
   		color:black;
      text-align: center;
      font-size: 20px;
}	

.result {
  font-size: 26px;
  color: blue;
}


.invisibleLabel {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}




  /* Placeholder auf schwarz setzen */
::-webkit-input-placeholder { color:black; }
::-moz-placeholder { color:black; } /* firefox 19+ */
:-ms-input-placeholder { color:black; } /* ie */
input:-moz-placeholder { color:black; }

/* individual: webkit */
#field2::-webkit-input-placeholder { color:black; }
#field3::-webkit-input-placeholder { color:black; background:lightgreen; text-transform:uppercase; }
#field4::-webkit-input-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:black; }

/* individual: mozilla */
#field2::-moz-placeholder { color:black; }
#field3::-moz-placeholder { color:black; background:lightgreen; text-transform:uppercase; }
#field4::-moz-placeholder { font-style:italic; text-decoration:overline; letter-spacing:3px; color:black; }


.borderbox{
  border:solid black 2px;
}

.tagbox{
  float: left;
  border: solid black 2px;
  height: 50px;
  width: 200px;
  background-color: lightgray;
  opacity: 1.0;
}

.tagsection{
  border-top: solid black 2px;
  padding: 10px;
}

  .tagsection .tag {
  padding: 0px;
  margin:0px;
  margin-left: 5px;
  font-size: 16px;
  }

.ratingbox{
  border-top: solid 2px black;
  font-size: 16px;
}

.created {
  font-size: 12px;
}

#left{
  width: 50%;
  float: left;
  list-style-type: none;
}

#right {
  width: 50%;
  float:right;
}






/* test für das design eines shortview */
.prob{
  background-color: white;
  border: solid black 2px;
  width: 100%;
  margin-top: 30px;

}
.prob a{
text-decoration: none;
}
.prob .tagsection{
  border-top:none;
}
.prob .tagsection .tag{
background-color: #00CED1;
color: black;
padding: 0px;
margin:0px;
margin-left: 5px;
font-size: 16px;
opacity: 1.0;
}

.problist{
  list-style-type: none;
}

.probhelpyes{
  display: block;
color: green;
font-size: 13px;
}
.probhelpno{
color: red;
font-size: 13px;
}

.top{
  clear: both;
  margin-left: 5px;
  margin-right: 5px;
}

.topleft{
margin-left: 5px;
}

.topright{
float:left;
text-align: right;
}

.bottom{
  border-top: solid black 2px;
}

.bottomleft{
 margin-left: 5px;

}

.bottomright{
text-align: right;
float: left;
}

.borderbox{
  border:solid black 2px;
}

.tagbox{
  float: left;
  border: solid black 2px;
  height: 50px;
  width: 200px;
  background-color: #00CED1;
  opacity: 1.0;
}

.tagsection{
  border-top: solid black 2px;
  padding: 10px;
}

  .tagsection .tag {
  padding: 0px;
  margin:0px;
  margin-left: 5px;
  font-size: 16px;
  }

.ratingbox{
  border-top: solid 2px black;
  font-size: 16px;
}


/* Meine Fragen */

#newcomments{
margin-bottom: 30px;
}

.solutionarea{
  background-color: #E5F3F8;
}

.solutionarea p {
  margin-bottom: 10px;
  margin-left: 5px;
}

#newanswers{
margin-bottom: 30px;
}


/* Vorschläge auf der problem.html */
.suggestbutton{
  background-color: #E5F3F8;
  width: 38%;
}


#suggestionarea{

}

.similiarprob{
 padding-top: 15px;
 padding-bottom: 15px;

}
.similiarprob h2{
 text-align:  center;
 background-color: #F2FBEF;

}

.similiarprobsolution{
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  background-color: white;  
}
.similiarprobsolution:hover{
  //background-color: lightblue;
}

.suggestsolutionbutton{
  float: right;
  margin-right: 15px;
}

.live{
  border: none;
  background-color: #F2FBEF;
  color: black;
}

#topicoverview{
margin-top: 29px;
}


.tagssearchfield{
  margin-left: 11px;
}

.left{
  float: left;  
}

/* styling der Radiobuttons*/

.finalsolution > input[type=radio]{
  display      : none;
}

input[type=radio] + img{
  width: 50px;
  height: 50px; 
  cursor:pointer;
  border:2px solid transparent;
  opacity: 0.3;
}
input[type=radio]:checked + img{
  opacity: 1.0; 
}




 