.problist{
 
}

.headline{
	text-align:  center;	
	background-color: lightblue;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.problem {
	 border: solid 1px lightgrey;
	 margin-left: 5px;
	 margin-right: 0px;
	 font-family: Verdana; 

}

.problem:hover{
	background-color: #F2FBEF;
}

.problemtop{

}
.problembottom{

}
.problembottomright{
	text-align: right;
	margin-right: 5px;
}
.problemtopleft{
	margin-left: 5px;
}
.problemtopright{
	text-align: right;
	margin-right: 5px;
	font-size: 14px;	
}

.problemtopright img{
width: 30px;
height: 30px;	
}

.problemtagsection ul{
list-style-type: none;
}

.problemtag{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	float:left;
	background-color: #A9F5F2;
	font-size: 13px;
	margin-bottom: 10px;


}

.problemtag a{
	color: black;
	text-decoration: none;
}

h3>a {
	color: black;
	text-decoration: none;
}