<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Grundlayout</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">
    <link rel="stylesheet" type="text/css" href="css/tag.css">

    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />

    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script language="javascript" type="text/javascript" src="js/controller/createProblemController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>
    


</head>

<body ng-controller="basicController">
<script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->

    <a name="start">
        <ul class="ym-skiplinks">
    </a>
    <li><a class="ym-skip" href="#navigation">Springe zur Navigation (Drücke Enter)</a>
    </li>
    <li><a class="ym-skip" href="#content">Springe zum Inhalt (Drücke Enter)</a>
    </li>
    </ul>

    <div class="ym-wrapper">
        <div class="ym-wbox">
            <header>
                <img src="ressource/compass36.png" alt="Ein Kompass"></img>
                <p>
                    <img src="ressource/compass36-inverted.png" alt="Ein Kompass"></img>
                </p>
                <h1>Compass</h1>
            </header>
            <a name="navigation">
                <nav class="ym-hlist" role="navigation">
            </a>
            <ul>
                <li><a href="index.html">Home</a>
                </li>
                <li class="active"><a href="createproblems.html">Problem erstellen</a>
                </li>
                <li><a href="search.html">Problem suchen</a>
                </li>
                <li><a href="myproblems.html">Meine Probleme</a>
                </li>
                <li><a href="help.html">Hilfe</a>
                </li>
                <li><a href="login.html">Login</a>
                </li>
                <li ng-controller="logController" login>
                </li>
            </ul>
            <div ng-controller="autoCompleteController" auto-complete-problem results="results"></div>
            </nav>
            <div>
                <div class="ym-column">
                    <div class="ym-col1" role="navigation" aria-labelledby="Accessibilitylinks">
                        <div class="ym-cbox">

                            <!-- Navigation über die Accessibility-Funktionen
                             -->

                            <ul class="ym-vlist">
                                <li>
                                    <h1 id="Accessibilitylinks">Accessibility-Menü</h1>
                                </li>
                                <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
                                </li>
                                <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="ym-col3" role="main" aria-labelledby="maincontent">

                        <div class="ym-cbox">

                            <a id="content"></a>
                                <h1 id="maincontent">Problem erstellen</h1>
                           
                            <p>Falls Sie über die <a href="search.html">Suchen-Funktion</a> keine entsprechenenden Probleme finden konnten, können Sie hier ein neues Problem erstellen und es der Datenbank hinzufügen, damit Ihnen andere Nutzer dabei helfen können Ihr Problem zu lösen.</p>


                            <form class="ym-form" ng-controller="createProblemController" ng-init="getAllTags()">
                                <!-- form row wrapper -->
                                

                                <div ng-controller="suggestController" suggest-problem></div>
                               <!--  <div class="ym-fbox">
                                   <label class="invisibleLabel" for="problemname">Name des Problems</label>
                                   <input type="text" name="problemname" id="problemname" ng-model="problem.name" placeholder="Geben Sie den Namen des Problems ein" />
                               </div> -->

                                <div class="ym-fbox">
                                    <label class="invisibleLabel" for="problemdescription">Problembeschreibung</label>
                                    <textarea name="problemdescription" ng-keydown="record($event)" id="problemdescription" ng-model="problem.description" rows="5" placeholder="Bitte geben Sie hier eine möglichst detaillierte Beschreibung Ihres Problems ein."></textarea>
                                </div>
                                <div ng-controller="autoCompleteController" auto-complete-tag></div>
                                <div class="ym-fbox" aria-labelledby="choosenTagOverview">
                                    <div><ul class="ym-skiplinks"><li><a class="ym-skip" href="#tagsuche">Springe zur Tagsuche (Drücke Enter)</a></li></ul></div> 
                                   <h3 id="choosenTagOverview">Ausgewählte Tags:</h3>
                                    <ul>
                                        <li class="tag" ng-repeat="tag in choosenTags">
                                            <a href="" ng-keydown="checkIfEnter($event,tag)" ng-dblclick="deleteFromView(tag)">{{tag}}</a>
                                        </li>
                                          <li class="tag foundTag" ng-repeat="tag in foundTags">
                                            <a href="" ng-keydown="addByEnter($event,tag)" ng-dblclick="deleteFromSuggestedView(tag)">Vorschlag --> {{tag}}</a>
                                        </li>
                                    </ul>
                                </div>
                                      <button type="button" class="ym-button ym-primary" value="Problem erstellen" id="submit" ng-click="createProblem(problem.name, problem.description)">Problem erstellen</button> 
                            </form>

                        </div>
                    </div>

                </div>
            </div>
            <footer>
                <ul class="ym-skiplinks">
                    <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                    </li>
                </ul>
            </footer>

        </div>
    </div>



</body>

</html>
