<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Start</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">
    <link rel="stylesheet" type="text/css" href="css/problemshortview.css">
     <link rel="stylesheet" type="text/css" href="css/tag.css">

    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />
     
        
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script type="text/javascript" src="js/controller/indexController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>

    

</head>

<body ng-controller="basicController">
    <script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->
   
    <a name="start"></a><ul class="ym-skiplinks">
        <li><a class="ym-skip" href="#navigation">Springe zur Navigation (Drücke Enter)</a>
        </li>
        <li><a class="ym-skip" href="#content">Springe zu den 5 aktuellsten Problemen (Drücke Enter)</a>
        </li>
    </ul>

    <div class="ym-wrapper" ng-controller="indexController" ng-init="getAllTags()">
        <div class="ym-wbox">
            <header>
                <img src="ressource/compass36.png" alt="Ein Kompass"></img>
                <p>
                    <img src="ressource/compass36-inverted.png" alt="Ein Kompass"></img>
                </p>
                <h1>Compass</h1>
            </header>
            <nav class="small" role="navigation">
                <ul>
               <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
               </li>
               <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
               </li>
                </ul>
                </nav>
            <a name="navigation"></a>
                <nav class="ym-hlist" role="Navigation">
            <ul>
                <li class="active"><a href="index.html">Home</a>
                </li>
                <li><a href="createproblems.html">Problem erstellen</a>
                </li>
                <li><a href="search.html">Problem suchen</a>
                </li>
                <li><a href="myproblems.html">Meine Probleme</a>
                </li>
                <li><a href="help.html">Hilfe</a>
                </li>
                <li><a href="login.html">Login</a>
                </li>
                <li ng-controller="logController" login>
                </li>
            </ul>

           <div ng-controller="autoCompleteController" auto-complete-problem results="results"></div>
            </nav>
            <div>
                <div class="ym-column">
                    <div class="ym-col1" role="navigation" aria-labelledby="Accessibilitylinks">
                        <div class="ym-cbox">

                            <!-- Übersicht aller Tags und die Anzahl ihrer Probleme
                             -->
                            <h2>Alle Tags</h2>
                         <ul><li ng-repeat="tags in allTags" class="tag" ng-click=""><a ng-click="addTagToSearch(tags.name)" href="searchresults.html">{{tags.name}}</a></li></ul>   
                   
                        </div>


                    </div>
                    <div class="ym-col3" role="main" aria-labelledby="maincontent" ng-init="getLast()">

                        <div class="ym-cbox">

                            <a id="content"></a>
                                <h1 id="maincontent">Aktuelle Probleme</h1>
                            
                            <ul>
                                <a href="#Problem"></a><li  class="shortproblem ym-cbox" ng-href="problem.html" ng-repeat="problem in problems">
                                <p id="title"><h2 ng-click="loadProblem(problem.id)">{{problem.title}}</h2><ul><li><a class="ym-skip" ng-href="problem.html" ng-click="loadProblem(problem.id)">Öffne das Problem "{{problem.title}}" (Drücke Enter)</a>
                                </li></ul></p>
                                <p id="description">{{problem.description}}</p>
                                <p id="created">Erstellt am {{problem.created}} durch Nutzer: {{problem.user.username}} </p>
                                <p id="solutioncountpositiv">{{problem.solutions.length}} Lösungen</p>
                                <ul><li  class="tag" ng-repeat="tag in problem.tags"><a href="">{{tag.name}}</a></li></ul>

                                </li>
                                </ul>   
                            
                            
                        </div>
                    </div>

                </div>
            </div>

            <footer>
                <ul class="ym-skiplinks">
                    <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                    </li>
                </ul>
            </footer>

        </div>
    </div>



</body>

</html>
