<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Grundlayout</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">
    <link rel="stylesheet" type="text/css" href="css/problem.css">

    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/newaccounthide.css" media="screen, projection" />

    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
     <script type="text/javascript"src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/controller/loginController.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>

</head>

<body ng-controller="basicController" ng-init="getCurrentProblems(10)">

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->

    <a name="start"></a>
    <ul class="ym-skiplinks"> 
    <li><a class="ym-skip" href="#username">Springe beim Anmelden (Drücke Enter)</a>
    </li>
    </ul>

    <div class="ym-wrapper" >
        <div class="ym-wbox">
            <header>
                <img src="ressource/compass36.png" alt="Ein Kompass"></img>
                <p>
                    <img src="ressource/compass36-inverted.png" alt="Ein Kompass"></img>
                </p>
                <h1>Compass</h1>
            </header>

                <nav class="small" role="navigation">
                <ul>
               <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
               </li>
               <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
               </li>
                </ul>
                </nav>

            <a name="navigation"> </a>
                <nav class="ym-hlist" role="vavigation">
           
            <ul>
                <li><a href="index.html">Home</a>
                </li>
                <li><a href="createproblems.html">Problem erstellen</a>
                </li>
                <li><a href="search.html">Problem suchen</a>
                </li>
                <li><a href="myproblems.html">Meine Probleme</a>
                </li>
                <li><a href="help.html">Hilfe</a>
                </li>
                <li class="active"><a href="login.html">Login</a>
                </li>
                 <li ng-controller="logController" login ng-init="loggedIn()">
                </li>
            </ul>
            <div ng-controller="autoCompleteController" auto-complete-problem results="results"></div>
            </nav>
            <div>
                <div class="ym-column">
                    <div class="ym-col1" role="navigation" aria-labelledby="Accessibilitylinks">
                        <div class="ym-cbox currentproblem">

                            <!-- Kurzüberblick über die neuesten Probleme-->
                                <h3>Aktuelle Probleme</h3>
                                <div>
                                     <ul><li ng-repeat="problem in probs" >{{problem.title}}</li></ul> 
                                </div>
                        </div>


                    </div>
                    <div class="ym-col3" role="main" aria-labelledby="maincontent" ng-controller="createLoginController"> 

                        <div class="ym-cbox">

                            <a name="content">
                                <h1 id="maincontent">Benutzeranmeldung</h1>
                                <form novalidate class="ym-form">
                                    <label for="username">Benutzername:</label><input type="text" id="username" ng-model="user.name" /></br>
                                    <label for="password">Passwort:</label><input type="password" id="password" ng-model="user.password" /></br>
                                    <button ng-click="login(user.name, user.password)">Anmelden</button><button ng-click="show()">Neuer Benutzer</button>
                                    {{valid}}
                                </form>
                                <div id="hidden" class="animate-hide" ng-hide="hide"><h1>Neuen Benutzer anmelden</h1>
                                  <form  novalidate class="ym-form">
                                    <label for="new_username">Benutzername:</label><input type="text" id="new_username" ng-model="user.new_name" aria-labelledby="hidden" required/></br>
                                    <label for="set_password">Passwort:</label><input type="password" id="set_password" ng-model="user.set_password" /></br>
                                     <label for="set_password_repeat">Passwort wiederholen:</label><input type="password" id="set_password_repeat" ng-model="user.set_password_repeat" /></br>
                                    <label for="optional_email">Emailadresse:</label><input type="text" id="optional_email" ng-model="user.optional_email" /></br>
                                     <label for="optional_email_repeat">Emailadresse wiederholen:</label><input type="text" id="optional_email_repeat" ng-model="user.optional_email_repeat" /></br>
                                    <button ng-click="createUser(user.new_name, user.set_password, user.set_password_repeat, user.optional_email, user.optional_email_repeat)">Anlegen</button>
                            </form>
                            </div>
                            </a>


                        </div>
                    </div>

                </div>
            </div>

            <footer>
                <ul class="ym-skiplinks">
                    <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                    </li>
                </ul>
            </footer>

        </div>
    </div>



</body>

</html>
