<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Grundlayout</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">
    <link rel="stylesheet" type="text/css" href="css/problem.css">
    <link rel="stylesheet" type="text/css" href="css/tag.css">

    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />

        <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
        <script type="text/javascript" src="js/controller/basicController.js"></script>
        <script type="text/javascript" src="js/controller/problemController.js"></script>
        <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>


</head>

<body ng-controller="basicController">
<script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->
   
    <a name="start"><ul class="ym-skiplinks"></a>
        <li><a class="ym-skip" href="#navigation">Springe zur Navigation (Drücke Enter)</a>
        </li>
        <li><a class="ym-skip" href="#content">Springe zum Inhalt (Drücke Enter)</a>
        </li>
    </ul>

    <div class="ym-wrapper">
        <div class="ym-wbox">
            <header>
                <img src="ressource/compass36.png" alt="Ein Kompass"></img>
                <p>
                    <img src="ressource/compass36-inverted.png" alt="Ein Kompass"></img>
                </p>
                <h1>Compass</h1>
            </header>
            <a name="navigation"></a>
                <nav class="ym-hlist" role="navigation">
            <ul>
                <li><a href="index.html">Home</a>
                </li>
                <li><a href="createproblems.html">Problem erstellen</a>
                </li>
                <li><a href="search.html">Problem suchen</a>
                </li>
                <li><a href="myproblems.html">Meine Probleme</a>
                </li>
                <li><a href="help.html">Hilfe</a>
                </li>
                <li><a href="login.html">Login</a>
                </li>
                <li ng-controller="logController" login >
                </li>
            </ul>
                <div ng-controller="autoCompleteController" auto-complete-problem></div>
            </nav>
            <div>
                <div class="ym-column">
                    <div class="ym-col1" role="navigation" aria-labelledby="Accessibilitylinks">
                        <div class="ym-cbox">

                            <!-- Navigation über die Accessibility-Funktionen
                             -->

                            <ul class="ym-vlist">
                                <li>
                                    <h1 id="Accessibilitylinks">Accessibility-Menü</h1>
                                </li>
                                <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
                                </li>
                                <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="ym-col3" role="main" aria-labelledby="maincontent" ng-controller="problemController" ng-init="getProblem()">

                        <div class="ym-cbox">

                            <a name="content"></a>
                            <div class="problem" id="maincontent">
                                <h1>{{problem.title}}</h1>
                                <div id="problemdescription">{{problem.description}}</div>
                                <div id="createdby">Erstellt durch {{problem.user.username}} am <b>{{problem.created}}</b></div>
                                <div id="tags"><h4>Tags:</h4><ul><li ng-repeat="tag in problem.tags" class="tag"><a href="">{{tag.name}}</a></li></ul></div>
                                 <div id="countsolutions">Anzahl vorgeschlagener Lösungen: {{problem.solutions.length}}</div>
                            </div>    
                            <div id="comments" class="problemcomments"><p ng-repeat="comment in problem.comments"><b>{{comment.user.username}}: </b>{{comment.text}}</p></div>
                              <div id="buttons">
                                     <button id="commentButton" ng-click="showHiddenCommentBox()" class="ym-button ym-primary">Kommentar</button>
                                     <button id="solutionButton" ng-click="showHiddenSolutionBox()" class="ym-button ym-primary">Lösung anbieten</button> 
                              </div>
                              <div id="hiddenComentBox" ng-hide="hiddenComment">
                                <form class="ym-form">
                                       <div class="ym-fbox">
                                        <label class="invisibleLabel" for="comment">Kommentar:</label>
                                        <textarea id="comment" ng-model="comment" rows="5" placeholder="Bitte tragen Sie hier Ihr Kommentar ein."></textarea>
                                        <button id="commentButton" ng-click="commentProblem(comment)" class="ym-button ym-primary">Kommentieren</button>
                                    </div>
                                </form>
                                </div>

                              </div>
                                 <div id="hiddenSolutionBox" ng-hide="hiddenSolution">
                                        <form class="ym-form">
                                       <div class="ym-fbox">
                                        <label class="invisibleLabel" for="solution">Lösung:</label>
                                        <textarea id="solution" ng-model="solution" rows="5" placeholder="Bitte tragen Sie hier Ihre Lösung ein."></textarea>
                                        <button id="solutionButton" ng-click="solutionProblem(solution)" class="ym-button ym-primary">Lösung anbieten</button>
                                    </div>  
                                </form>
                              </div>
                          <div id="solutions"class="problemsolutions"  ng-repeat="solution in problem.solutions"><p ><h3>Lösung von {{solution.user.username}}</h3>{{solution.text}}</p>
                          </div>

                            </div>
                      
                    </div>
                     </div>

                </div>
            </div>

            <footer>
                <ul class="ym-skiplinks">
                    <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                    </li>
                </ul>
            </footer>

        </div>
    </div>



</body>

</html>
