<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Grundlayout</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">

    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />

    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>


</head>

<body ng-controller="basicController"  ng-init="loggedIn()">

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->
   
    <a name="start"><ul class="ym-skiplinks"></a>
        <li><a class="ym-skip" href="#navigation">Springe zur Navigation (Drücke Enter)</a>
        </li>
        <li><a class="ym-skip" href="#content">Springe zum Inhalt (Drücke Enter)</a>
        </li>
    </ul>

    <div class="ym-wrapper">
        <div class="ym-wbox">
            <header>
                <img src="ressource/compass36.png" alt="Ein Kompass"></img>
                <p>
                    <img src="ressource/compass36-inverted.png" alt="Ein Kompass"></img>
                </p>
                <h1>Compass</h1>
            </header>
            <a name="navigation">
                <nav class="ym-hlist" role="Navigation">
            </a>
            <ul>
                <li class="active"><a href="index.html">Home</a>
                </li>
                <li><a href="#">Problem erstellen</a>
                </li>
                <li><a href="#">Problem suchen</a>
                </li>
                <li><a href="#">Meine Probleme</a>
                </li>
                <li><a href="#">Hilfe</a>
                </li>
                <li><a href="#">Login</a>
                </li>
            </ul>
            <form class="ym-searchform">
                <input class="ym-searchfield" type="search" placeholder="Probleme suchen" />
                <input class="ym-searchbutton" type="submit" value="Suchen" />
            </form>
            </nav>
            <div>
                <div class="ym-column">
                    <div class="ym-col1" role="navigation" aria-labelledby="Accessibilitylinks">
                        <div class="ym-cbox">

                            <!-- Navigation über die Accessibility-Funktionen
                             -->

                            <ul class="ym-vlist">
                                <li>
                                    <h1 id="Accessibilitylinks">Accessibility-Menü</h1>
                                </li>
                                <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
                                </li>
                                <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="ym-col3" role="main" aria-labelledby="maincontent">

                        <div class="ym-cbox">

                            <a name="content"></a>
                                <h1 id="maincontent" ng-init="searchByTag()">Lorem Ipsum</h1>
                            
                            <ul><li ng-repeat="problem in tagProblems">{{problem.description}}</li><ul>
                            
                        </div>
                    </div>

                </div>
            </div>

            <footer>
                <ul class="ym-skiplinks">
                    <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                    </li>
                </ul>
            </footer>

        </div>
    </div>



</body>

</html>
