<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Grundlayout</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">
    <link rel="stylesheet" type="text/css" href="css/tag.css">
    <link rel="stylesheet" type="text/css" href="css/problemshortview.css">

 
    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />

    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script type="text/javascript" src="js/controller/searchController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>


</head>

<body ng-controller="basicController">
     <script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->

    <a name="start"> </a>
        <ul class="ym-skiplinks">
   
    <li><a class="ym-skip" href="#navigation">Springe zur Navigation (Drücke Enter)</a>
    </li>
    <li><a class="ym-skip" href="#problemtitle">Springe zu Suchfeldern (Drücke Enter)</a>
    </li>
     <li><a class="ym-skip" href="#tags">Springe zu Tagsuchfeld (Drücke Enter)</a>
    </li>
    </ul>

    <div class="ym-wrapper">
        <div class="ym-wbox">
            <header>
                <img src="ressource/compass36.png" alt="Ein Kompass"/>
                <p>
                    <img src="ressource/compass36-inverted.png" alt="Ein Kompass"/>
                </p>
                <h1>Compass</h1>
            </header>
            <a id="navigation"></a>
                <nav class="ym-hlist" role="Navigation">
            
            <ul>
                <li><a href="index.html">Home</a>
                </li>
                <li><a href="createproblems.html">Problem erstellen</a>
                </li>
                <li class="active"><a href="search.html">Problem suchen</a>
                </li>
                <li><a href="myproblems.html">Meine Probleme</a>
                </li>
                <li><a href="help.html">Hilfe</a>
                </li>
                <li><a href="login.html">Login</a>
                </li>
                  <li ng-controller="logController" login >
                </li>
            </ul>
            <div ng-controller="autoCompleteController" auto-complete-problem></div>
            </nav>
            <div>
                <div class="ym-column">
                    <div class="ym-col1" role="navigation" aria-labelledby="Accessibilitylinks">
                        <div class="ym-cbox">

                            <!-- Navigation über die Accessibility-Funktionen
                             -->

                            <ul class="ym-vlist">
                                <li>
                                    <h1 id="Accessibilitylinks">Accessibility-Menü</h1>
                                </li>
                                <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
                                </li>
                                <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="ym-col3" role="main" aria-labelledby="maincontent" ng-controller="createSearchController" >

                        <div class="ym-cbox">

                            <a name="content"></a> 
                                <h2 id="maincontent">Problem suchen</h2>
                                        <form class="ym-form">
                                            <div class="ym-fbox">
                                                 <label class="invisibleLabel" for="problemtitle">Titel des Problems</label>
                                                 <input type="text" name="problemtitle" id="problemtitle" ng-model="problem.title" placeholder="Geben Sie eine kurze Beschreibung Ihres Problemes an." />
                                            </div>

                                             <div ng-controller="autoCompleteController" auto-complete-tag></div>
                                             <div class="ym-fbox"><ul class="ym-skiplinks"><li><a class="ym-skip" href="#tagsuche">Springe zur Tagsuche (Drücke Enter)</a></li></ul></div> 
                                       
                                            <div class="ym-fbox" aria-labelledby="choosenTagOverview">
                                                 <h3 id="choosenTagOverview">Ausgewählte Tags:</h3>
                                                 <ul>
                                                 <li class="tag" ng-repeat="tag in choosenTags">
                                                 <a href="" ng-keydown="checkIfEnter($event,tag)" ng-dblclick="deleteFromView(tag)">{{tag}}</a>
                                                </li>
                                                </ul>
                                            </div>
                                            <button type="button" ng-click="search(problem.title,choosenTags)" class="ym-button ym-primary">Suchen</button>
                                       </form>
                                       <a name="searchResults"></a>
                                        <div  id="result">
                                            <h2>Suchergebnisse:</h2>
                                            <ul>
                                                <a href="#Problem"></a><li  class="shortproblem ym-cbox" ng-click="loadProblem(problem.id)" ng-href="problem.html" ng-repeat="problem in results">
                                                    <p id="title"><h2>{{problem.title}}</h2><ul><li><a class="ym-skip" ng-href="problem.html" ng-click="loadProblem(problem.id)">Öffne das Problem "{{problem.title}}" (Drücke Enter)</a>
                                                    </li></ul></p>
                                                    <p id="description">{{problem.description}}</p>
                                                    <p id="created">Erstellt am {{problem.created}} durch Nutzer: {{problem.user.username}} </p>
                                                    <p id="solutioncountpositiv">{{problem.solutions.length}} Lösungen</p>
                                                    <ul><li  class="tag" ng-repeat="tag in problem.tags"><a href="">{{tag.name}}</a></li></ul>
                                                </li>
                                            </ul>   
                                 </div>
                    
                    </div>
                          
                          
                </div>
            </div>

            <footer>
                <ul class="ym-skiplinks">
                    <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                    </li>
                </ul>
            </footer>

        </div>
    </div>



</body>

</html>
