<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Frage stellen</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">

    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />

    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script language="javascript" type="text/javascript" src="js/controller/createProblemController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>
    


</head>

<body ng-controller="basicController">
<script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->

    <a name="start"></a>
    <ul class="ym-skiplinks">
    <li><a class="ym-skip" href="#problemname">Springe zur Eingabe der Fragen (Drücke Enter)</a>
    </li>
    <li><a class="ym-skip" href="#maincontent">Springe zum Inhalt (Drücke Enter)</a>
    </li>
    </ul>

    <div class="ym-wrapper" ng-controller="basicController" ng-init="checkUser()">
        <div class="ym-wbox">
            <header>
<!-- <img src="ressource/compass36.png" alt="Ein Kompass"></img>
<p>
    <img src="ressource/compass36-inverted.png" alt="Ein Kompass"></img>
</p>
                <h1>Compass</h1> -->
            </header>
            <nav role="navigation">
                <ul>
                    <div id="left">
                        <li class="login" ng-controller="logController" login ng-init="">
                        </li>
                    </div>
                    <div id="right" class="small" aria-hidden="true">

                        <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
                        </li>
                        <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
                        </li>

                    </div>
                </ul>
        </div>
        </nav>
            <a name="navigation">
                <nav class="ym-hlist" role="navigation">
            </a>
            <ul>
                <li><a href="index.html">Start</a>
                </li>
                <li><a href="currentproblems.html">Aktuelle Fragen</a>
                </li>
                <li><a href="search.html">Frage suchen</a>
                </li>
                <li><a ng-show="userLoggedIn" href="myproblems.html" ng-cloak>Meine Fragen</a>
                </li>
            </ul>
            <div ng-controller="autoCompleteController" auto-complete-problem results="results"></div>
            </nav>
            <div>
                <div class="ym-wrapper">
                    <div class="ym-wbox" role="main" aria-labelledby="maincontent">

                        <div class="ym-cbox">

                            <a id="content"></a>
                             <div id="maintext" ng-controller="createProblemController" >
                                <h1 id="maincontent">Frage stellen</h1>
                          
                            <p>Leider hat die Suche keine passenden Ergebnisse gefunden. Sie haben nun die Möglichkeit noch einmal zu <a href="search.html">suchen</a> oder Sie erstellen eine neue Frage, damit Ihnen andere Nutzer bei der Lösung Ihrer Frage weiterhelfen können.
                            </p>
                            <p>Um eine Frage stellen zu können müssen sie sich angemeldet haben. Sollten Sie sich noch keinen Nutzer angelegt haben, können Sie dies <a title="Benutzer anmelden" href="login.html">hier</a> tun.</p>
                            <form class="ym-form" ng-init="getAllTags()">
                                <!-- form row wrapper -->
                                
                                <div class="ym-fbox">
                                <div ng-controller="suggestController"  suggest-problem></div>
                                <div>
                                    <label class="invisibleLabel" for="problemdescription">Fragebeschreibung</label>
                                    <textarea id="sfield" name="problemdescription" ng-keydown="record($event)" id="problemdescription" ng-keypress="enabledButton()" ng-model="problem.description" rows="5" placeholder="Bitte geben Sie hier eine möglichst detaillierte Beschreibung Ihrer Frage ein." aria-required="true" required></textarea>
                                </div>
                                <div ng-controller="autoCompleteController" auto-complete-tag></div>
                                <div aria-labelledby="choosenTagOverview">
                                  <h3 id="choosenTagOverview">Ausgewählte <span lang="en-us">Tags</span>:</h3>
                                    <ul class="tagoverview">
                                        <li class="problemtag" ng-repeat="tag in choosenTags">
                                            <a href="" ng-click="checkIfEnter($event,tag)" ng-dblclick="deleteFromView(tag)">{{tag}}</a>
                                        </li>
                                          <li class="problemtag foundtag" ng-repeat="tag in foundTags">
                                            <a role="button" href="" ng-click="addByEnter($event,tag)" ng-dblclick="deleteFromSuggestedView(tag)">Vorschlag --> {{tag}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div><ul class="ym-skiplinks"><li><a class="ym-skip" href="#tagsuche">Zurück zum Tageingabefeld springen (Drücke Enter)</a></li></ul></div> 
                                  
                                </div> 
                                <div class="ym-fbox"><button  class="ym-button ym-primary" value="Problem erstellen" id="submit" ng-click="createProblem(problem.description)" ng-blur="enabledButton()">Problem erstellen</button>  
                                </div>  
                                       
                            </form>
                             <div id="loginresult" aria-live="assertive">
                                   {{result}}
                            </div>

                        </div>
                    </div>
                    </div>

                </div>
            </div>
            <footer>
                <a href="help.html">Hilfe</a>
                <ul class="ym-skiplinks">
                    <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                    </li>
                </ul>
            </footer>

        </div>
    </div>



</body>

</html>
