<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Aktuelle Fragen</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">
    <link rel="stylesheet" type="text/css" href="css/problemshortview.css">
    <link rel="stylesheet" type="text/css" href="css/tag.css">

    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />

    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script type="text/javascript" src="js/controller/currentProblemController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>

</head>

<body ng-controller="basicController" ng-init="startFunctions()">
    <script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->

    <a name="start"></a>
    <ul class="ym-skiplinks" role="tablist">
        <li role="tab"><a class="ym-skip" href="#cquestions">Springe zu den aktuellen Fragen (Drücke Enter)</a>
        </li>
        <li role="tab"><a class="ym-skip" href="#unask">Springe zu den ungelösten Fragen (Drücke Enter)</a>
        </li>
        <li role="tab"><a class="ym-skip" href="#tquestions">Springe zu den nach Tags sortierten Fragen (Drücke Enter)</a>
        </li>      
    </ul>

    <div class="ym-wrapper">
        <div class="ym-wbox">
            <header>
            </header>
            <nav role="navigation">
                <ul>
                    <div id="left">
                        <li class="login" ng-controller="logController" login ng-init="">
                        </li>
                    </div>
                    <div id="right" class="small" aria-hidden="true">

                        <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
                        </li>
                        <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
                        </li>

                    </div>
                </ul>
         </nav>

         <a name="navigation"></a>
            <nav class="ym-hlist" role="Navigation">
                <ul>
                    <li><a href="index.html">Start</a>
                    </li>
                    <li><a href="createproblems.html">Frage stellen</a>
                    </li>
                     <li><a href="search.html">Frage suchen</a>
                    </li>
                    <li><a href="myproblems.html" ng-show="userLoggedIn">Meine Fragen</a>
                </ul>
                <div ng-controller="autoCompleteController" auto-complete-problem results="results"></div>
            </nav>
            <div class="ym-wrapper" ng-controller="currentProblemController">
                <div class="ym-wbox" role="main" aria-labelledby="maincontent">
                    <div class="ym-cbox">
                        <a name="content"></a>
                        <div id="maintext">
                            <h1 id="maincontent">Aktuelle Fragen</h1>
                            <p>Hier finden Sie sowohl die Fragen, die als letztes gestellt wurden, sowie eine Auflistung ungelöster Fragen und eine Übersicht von Tags, nach denen die Fragen kategorisiert sind. Sie erhalten durch anklicken der Tags eine Auflistung der Fragen, die mit diesem Tag gekennzeichnet wurden.</p>
                        </div>
                        <div class="ym-grid linearize-level-2">
                            <article class="ym-g50 ym-gl" aria-labbelledby="currentquestions">
                                <div class="ym-gbox">
                                    <!-- content -->
                                    <a id="cquestions"></a>
                                    <h2 id="currentquestions" class="headline">Neueste Fragen</h2>
                                    <ul class="problist">
                                        <li ng-repeat="question in probs.results">
                                            <div class="problem">
                                                  <div class="ym-grid problemtop">
                                                <div class="ym-g70 ym-gl problemtopleft">
                                                    <h3><a ng-click="loadProblem(question.id)" href="">{{question.title}}</a>
                                                    </h3>
                                                    <p class="created">Erstellt am {{formatDate(question.created)}}</p>
                                                </div>
                                                <div class="ym-g3 ym-gr problemtopright">
                                                    Frage <span ng-hide="{{question.solved_for_problem_creator}}"> nicht </span>gelöst
                                                       <span ng-show="{{question.solved_for_problem_creator}}">
                                                            <img alt="Als gelöst markiert" src="ressource/check.png" />
                                                            </span>
                                                               
                                                </div>
                                            </div>
                                             <div class="ym-grid problembottom">
                                                <div class="ym-g70 ym-gl">
                                                    <div class="problemtagsection">
                                                        <ul>
                                                            <li ng-repeat="tag in question.tags" class="problemtag"><a href="" ng-click="loadProblemByTag(tag.name)">{{tag.name}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                               <div class="ym-g30 ym-gr problembottomright">
                                                 <p>{{question.solutions.length}} Antworten</p>
                                               </div> 
                                            </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            <article class="ym-g50 ym-gr" aria-labbelledby="unaskquestions">
                                <div class="ym-gbox">
                                    <!-- content -->
                                    <a id="cquestions"></a>
                                    <h2 id="currentquestions" class="headline">Unbeantwortete Fragen</h2>
                                    <ul class="problist">
                                        <li ng-repeat="question in noAsk.results">
                                            <div class="problem">
                                                  <div class="ym-grid problemtop">
                                                <div class="ym-g70 ym-gl problemtopleft">
                                                    <h3><a ng-click="loadProblem(question.id)" href="">{{question.title}}</a>
                                                    </h3>
                                                    <p class="created">Erstellt am {{formatDate(question.created)}}</p>
                                                </div>
                                                <div class="ym-g30 ym-gr problemtopright">
                                                    Frage <span ng-hide="{{question.solved_for_problem_creator}}"> nicht </span>gelöst
                                                       <span ng-show="{{question.solved_for_problem_creator}}">
                                                            <img alt="Als gelöst markiert" src="ressource/check.png" />
                                                            </span>
                                                               
                                                </div>
                                            </div>
                                             <div class="ym-grid problembottom">
                                                <div class="ym-g70 ym-gl">
                                                    <div class="problemtagsection">
                                                        <ul>
                                                            <li ng-repeat="tag in question.tags" class="problemtag"><a href="" ng-click="loadProblemByTag(tag.name)">{{tag.name}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                               <div class="ym-g30 ym-gr problembottomright">
                                                 <p>{{question.solutions.length}} Antworten</p>
                                               </div> 
                                            </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            <div>
                            <article id="tagoverview" class="ym-g75 ym-gr" aria-labbelledby="tagquestions" ng-init="getAllTags()">
                               <div class="ym-gbox">
                                    <a id="tquestions"></a>
                                    <h2 id="tagquestions" class="headline">Fragen nach Tags sortiert</h2>
                                <div class="tagsearch">
                                        <form class="ym-form tagssearchfield">
                                        <div class="ym-fbox">
                                            <label for="tagsearchfield">Tags suchen</label>
                                        <input type="text" id="tagsearchfield" ng-model="taglookup" placeholder="Nach speziellen Tags suchen"></input><button class="ym-button ym-primary" ng-click="searchTags(taglookup)">Suchen</button> 
                                    </div>
                                </form>
                                </div>
                                <div class="left">
                                    <ul class="tagoverview">
                                        <li class="problemtag" ng-repeat="tags in showResults.results"><a ng-click="loadProblemByTag(tags.name)" href="" title="Für das Tag {{tags.name}} wurden {{tags.problem_count}} Fragen erstellt.">{{tags.name}} ({{tags.problem_count}}x)</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="searchpages" ng-hide="show">
                                    <ul>
                                    <li ng-repeat="object in allTags"><a title="Suchergebnis {{object.query.PAGE*tagsPerPage+1}} bis {{object.query.PAGE*tagsPerPage+20}}" href="" ng-click="loadSearchPageCount(object.query.PAGE)">{{object.query.PAGE*1+1}}</a>
                                    </li>
                                    </ul>
                                </div>
                                </div>
                            </article>
                            <article id="topicoverview" class="ym-g25 ym-gl" aria-labbelledby="topics">
                                <div class="ym-gbox">
                                    <a id="topics"></a>
                                    <h2 class="headline" id="topics" ng-init="getTopics()">Topics</h2>
                                <div class="problemtagsection">
                                    <ul class=""><li class="topic"  ng-repeat="topic in topics"><a ng-click="loadByTopic(topic.id)" href="">{{topic.name}}</a></li></ul>
                                </div>
                                </div>
                                
                            </article>
                            </div>

                        </div>
                    </div>

                    <footer>
                        <a href="help.html">Hilfe</a>
                        <ul class="ym-skiplinks">
                            <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                            </li>
                        </ul>
                    </footer>

                </div>
           </div>
       </div>
   </div>
</body>

</html>
