<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Hilfe</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">

    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />

    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>

</head>

<body ng-controller="basicController">

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->
   
    <a name="start"><ul class="ym-skiplinks"></a>
        <li><a class="ym-skip" href="#navigation">Springe zur Navigation (Drücke Enter)</a>
        </li>
        <li><a class="ym-skip" href="#content">Springe zum Inhalt (Drücke Enter)</a>
        </li>
    </ul>

    <div class="ym-wrapper">
        <div class="ym-wbox">
            <header>
            </header>
            <nav role="navigation">
                <ul>
                    <div id="left">
                        <li class="login" ng-controller="logController" login ng-init="">
                        </li>
                    </div>
                    <div id="right" class="small" aria-hidden="true">

                        <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
                        </li>
                        <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
                        </li>

                    </div>
                </ul>
            </nav>
            <a name="navigation">
                <nav class="ym-hlist" role="Navigation">
            </a>
            <ul>
                <li><a href="index.html">Start</a>
                </li>
                <li><a href="currentproblems.html">Aktuelle Fragen</a>
                </li>
                <li><a href="search.html">Frage suchen</a>
                </li>
                <li><a ng-show="userLoggedIn" href="myproblems.html" ng-cloak>Meine Fragen</a>
                </li>  
            </ul>
            <div ng-controller="autoCompleteController" auto-complete-problem results="results"></div> 
            </nav>
            <div>
                 <div class="ym-wrapper">
                    <div class="ym-wbox" role="main" aria-labelledby="maincontent">

                        <div class="ym-cbox">

                            <a id="content"></a>
                             <div id="maintext">
                                <h1 id="maincontent">Impressum</h1>
                                Diese Plattform entstand im Rahmen der Diplomarbeiten, in den Studiengängen Informatik sowie Medieninformatik, von Paul Grunewald und Patrick Rütz. Patrick Rütz hatte dabei die Aufgabe eine Plattform zu entwickeln, die es Nutzern ermöglicht ihre Fragen zu stellen, diese durch andere Nutzer beantworten zu lassen und anschließend durch eine Bewertung eine qualitative Einschätzung der Antwort zu geben.
                                <p>Paul Grunewald hat diesbezüglich einen Algorithmus entwickelt, der auf Basis von andere Lösungen, Vorschläge für passende Löungen anbietet./p>
                                <p>Der Schwerpunkt dieser Arbeit liegt darin, Nutzer durch andere Nutzer bei der Überwindung von Barrierefreiheits-Problemen zu helfen, wobei die Nutzung der Plattform so weit wie möglich barrierefrei sein soll.</p>
                                <br>
                                <p>Für Fragen, Anregungen und Feedback sind wir immer dankbar.</p>
                                <p>Patrick Rütz: <a href="mailto:patrick.ruetz@mailbox.tu-dresden.de">patrick.ruetz@mailbox.tu-dresden.de</a> (Umsetzung der Plattform)</p>
                                <p>Paul Grunewald: <a href="mailto:paul.grunewald@tu-dresden.de">paul.grunewald@tu-dresden.de</a> (Entwicklung des Algorithmus' zum Vorschlagen von alternativen Antworten) </p> 
                     </div>
                    </div>

            </div>
            </div>

            <footer>
                <ul class="ym-skiplinks">
                    <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                    </li>
                </ul>
            </footer>

        </div>
    </div>



</body>

</html>
