<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Start</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">
    <link rel="stylesheet" type="text/css" href="css/problemshortview.css">
     <link rel="stylesheet" type="text/css" href="css/tag.css">

    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />
     
        
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script type="text/javascript" src="js/controller/indexController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>

    

</head>

<body ng-controller="basicController">
    <script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->
   
    <a name="start"></a><ul class="ym-skiplinks">
        <li><a class="ym-skip" href="#navigation">Springe zur Navigation (Drücke Enter)</a>
        </li>
        <li><a class="ym-skip" href="#content">Springe zum Inhalt (Drücke Enter)</a>
        </li>
    </ul>

    <div class="ym-wrapper" ng-controller="indexController">
        <div class="ym-wbox">
            <header>
            </header>
            <nav  role="navigation">
               <ul>
                <div id="left"><li class="login" ng-controller="logController" login ng-init="">
                </li>
                </div>
               <div id="right" class="small" aria-hidden="true"> 
               <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
               </li>
               <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
               </li>
              </div>
        </ul>
    </nav>
        </div>
                
            <a name="navigation"></a>
                <nav class="ym-hlist" role="Navigation" aria-hidden="true">
            <ul>
                <li><a href="currentproblems.html">Aktuelle Fragen</a>
                </li>
                <li><a href="createproblems.html">Frage stellen</a>
                </li>
                <li><a ng-show="userLoggedIn" href="myproblems.html" ng-cloak>Meine Fragen</a>
                </li>

            </ul>

           <div ng-controller="autoCompleteController" auto-complete-problem results="results"></div>
            </nav>
            <div>
                    </div>
                    <div class="ym-wrapper" role="main" aria-labelledby="maincontent">

                        <div class="ym-wbox">

                            <a id="content"></a>
                                <h1 id="maincontent">Helfen und geholfen werden</h1>
                                <div id="maintext" ng-init="setFocus()">
                                <p>Unter diesem Motto steht Compass. Compass ist eine kollaborative Plattform, die sich speziell mit Barrierefreiheitsfragen befasst. Nutzer haben die Möglichkeit Fragen zu stellen und diese durch andere Nutzer beantworten zu lassen. </p>

                                <p>Nach dem erfolgreichen Lösen einer Frage, kann die Antwort bewertet und kommentiert werden, dies soll anderen Nutzern, bei ihrer eigenen Antwortsuche helfen.</p>

                                <p>Der Vorteil dieser Plattform liegt darin, dass sehr viele Nutzergruppen, vom Laien bis zum Experten, die Möglichkeit bekommen ihre Lösungsansätze zu verbreiten und damit vielen Nutzern geholfen werden kann.</p>
                                <form class="big">
                                <div class="ym-fbox"><div id="searcharea" class="ym-wrapper" ng-controller="indexSearchController" index-search-suggest-problem ></div> 
                                </div>
                            </form>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </div>

            <footer>
                <a href="help.html">Hilfe</a>   
                <ul class="ym-skiplinks">
                    <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                    </li>
                </ul>
            </footer>

        </div>
    </div>



</body>

</html>
