<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Meine Fragen</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">
    <link rel="stylesheet" type="text/css" href="css/tag.css">
    <link rel="stylesheet" type="text/css" href="css/myproblem.css">


    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />
    <script type="text/javascript" src="js/variable.js"></script>
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script type="text/javascript" src="js/controller/myProblemController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>



</head>

<body ng-controller="basicController" ng-init="startFunctions()">
    <script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->

    <a name="start"></a>
    <ul class="ym-skiplinks">

        <li><a class="ym-skip" href="#navigation">Springe zur Navigation (Drücke Enter)</a>
        </li>
        <li><a class="ym-skip" href="#cquestions">Springe zu meine Fragen (Drücke Enter)</a>
        </li>
          <li><a class="ym-skip" href="#newanswers">Springe zu Fragen mit neuen Lösungen (Drücke Enter)</a>
        </li>
         <li><a class="ym-skip" href="#newcomments">Springe zu Fragen mit neuen Kommentaren (Drücke Enter)</a>
        </li>
    </ul>

    <div class="ym-wrapper" ng-controller="basicController">
        <div class="ym-wbox">
            <header>
                <!--                 <img src="ressource/compass36.png" alt="Ein Kompass"/>
<p>
    <img src="ressource/compass36-inverted.png" alt="Ein Kompass"/>
</p> -->
            </header>

            <nav role="navigation">
                <ul>
                    <div id="left">
                        <li class="login" ng-controller="logController" login ng-init="">
                        </li>
                    </div>
                    <div id="right" class="small" aria-hidden="true">

                        <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
                        </li>
                        <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
                        </li>

                    </div>
                </ul>
        </div>
        </nav>
        <a id="navigation"></a>
        <nav class="ym-hlist" role="navigation">

            <ul>
                <li><a href="index.html">Start</a>
                </li>
                <li><a href="currentproblems.html">Aktuelle Fragen</a>
                </li>
                <li><a href="search.html">Frage suchen</a>
                </li>
                <li><a href="createproblems.html">Frage stellen</a>
                </li>
            </ul>
            <div ng-controller="autoCompleteController" auto-complete-problem></div>
        </nav>
        <div class="ym-wrapper">
            <div class="ym-wbox" role="main" aria-labelledby="maincontent" ng-controller="myProblemController" ng-init="getInformations()">
                    <div class="ym-cbox">

                    <a name="content"></a>
                    <div id="maintext">

                        <h1 id="maincontent">Meine Fragen</h1>
                    </div>    
                        <div class="ym-grid">
                        <article class="ym-g62 ym-gl " aria-labbelledby="currentquestions">
                            <div class="ym-gbox">
                                <!-- content -->
                                <a id="cquestions"></a>
                                <h2 id="currentquestions" class="headline">Eigene gestellte Fragen</h2>
                                <ul class="problist">
                                    <li ng-repeat="question in myProblems">
                                        <div class="problem">
                                            <div class="ym-grid problemtop">
                                                <div class="ym-g70 ym-gl problemtopleft">
                                                    <h3><a ng-click="loadProblem(question.id)" href="">{{question.title}}</a>
                                                    </h3>
                                                    <p class="created">Erstellt am {{formatDate(question.created)}}</p>
                                                </div>
                                                <div class="ym-g3 ym-gr problemtopright">
                                                    Frage <span ng-hide="{{question.solved_for_problem_creator}}"> nicht&nbsp;</span>gelöst
                                                       <span ng-show="{{question.solved_for_problem_creator}}">
                                                            <img alt="Als gelöst markiert" src="ressource/check.png" />
                                                            </span>
                                          </div>
                                            </div>
                                            <div class="ym-grid problembottom">
                                                <div class="ym-g70 ym-gl">
                                                    <div class="problemtagsection">
                                                        <ul>
                                                            <li ng-repeat="tag in question.tags" class="problemtag"><a href="" ng-click="loadProblemByTag(tag.name)">{{tag.name}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                               <div class="ym-g30 ym-gr problembottomright">
                                                 <p>{{question.solutions.length}} Antworten</p>
                                               </div>   
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <article class="ym-g38 ym-gr" aria-labbelledby="newanswers">
                            <a name="newanswers"></a>
                            <div id="newanswers" class="ym-gbox">
                                <h2 class="headline" >Neue Antworten</h2>
                                    <div class="solutionarea">
                                    <p ng-repeat="(id,problem) in myStatus.problems" ng-hide="{{problem.count_new_solutions==0}}">Frage: <b><a href="" ng-click="loadProblem(id)">{{getNameById(id)}}</a></b> hat {{problem.count_new_solutions}} neue Lösung<span ng-show="{{problem.count_new_solutions>1}}">en</span></p> 
                                    </div>
                            </div>
                        </article>
                             <article class="ym-g38 ym-gr" aria-labbelledby="newcomments">
                                <a name="newcomments"></a>
                            <div id="newcomments" class="ym-gbox">
                                <h2 class="headline" >Neue Kommentare</h2>
                                <div class="solutionarea">
                                    <p ng-repeat="(id,problem) in myStatus.problems" ng-hide="{{problem.count_new_comments==0}}">Frage: <b><a href="" ng-click="loadProblem(id)">{{getNameById(id)}}</a></b> hat {{problem.count_new_comments}} neue<span ng-show="{{problem.count_new_comments==1}}">n</span> Kommentar<span ng-show="{{problem.count_new_comments>1}}">e</span></p>
                                </div> 
                            </div>
                        </article>
                        </div>
                </div>  
            </div>
        </div>

        <footer>
            <a href="help.html">Hilfe</a>
            <ul class="ym-skiplinks">
                <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                </li>
            </ul>
        </footer>

    </div>
    </div>



</body>

</html>
