<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8"/>
    <title>Frage</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/problem.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/tag.css"> -->

    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection"/>
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection"/>

    <script type="text/javascript" src="js/variable.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script type="text/javascript" src="js/controller/problemController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>


</head>

<body ng-controller="basicController">
    <script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->

    <a name="start"></a>
        <ul class="ym-skiplinks">
            <li><a class="ym-skip" href="#question">Springe zur Frage (Drücke Enter)</a>
            </li>
            <li><a class="ym-skip" href="#solutions">Springe zu den Antworten (Drücke Enter)</a>
            </li>
            <li><a class="ym-skip" href="#solution">Springe zu Antwort erstellen (Drücke Enter)</a>
            </li>
        </ul>
    <div class="ym-wrapper">
        <div class="ym-wbox">
            <header>
            </header>
            <nav role="navigation">
                <ul>
                    <div id="left">
                        <li class="login" ng-controller="logController" login ng-init="">
                        </li>
                    </div>
                    <div id="right" class="small" aria-hidden="true">
                        <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
                        </li>
                        <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
                        </li>

                    </div>
                </ul>
            </nav>
        </div>
        <a name="navigation"></a>
        <nav class="ym-hlist" role="navigation">
            <ul>
                <li><a href="currentproblems.html">Aktuelle Fragen</a>
                </li>
                <li><a href="search.html">Fragen suchen</a>
                </li>
                <li><a href="createproblems.html">Fragen stellen</a>
                </li>
                <li><a ng-show="userLoggedIn" href="myproblems.html" ng-cloak>Meine Fragen</a>
                </li>
            </ul>
            <div ng-controller="autoCompleteController" auto-complete-problem></div>
        </nav>
        <div class="ym-wrapper">
            <div class="ym-wbox" role="main" ng-controller="problemController" ng-init="getProblem()">

                <div id="maintext">

                    <a name="question"></a>
                    <article aria-labelledby="headline">
                        <h1 id="headline" class="headline">Frage von {{problem.user.username}}:
                            <p>{{problem.title}}</p>
                        </h1>
                        <div class="ym-grid">
                            <div id="problemdescription" class="ym-g100">{{problem.description}}</div>
                            <div class="ym-form" ng-hide="showEditArea">
                                <div class="ym-fbox">
                                    <label for="modify">Frage überarbeiten</label>
                                    <textarea id="modify" ng-model="modifiedtext"></textarea>
                                    <button class="ym-button ym-primary" ng-click="modify(modifiedtext, problem.id)">Speichern</button>
                                </div>
                            </div>
                            <div ng-show="isOwner" class="problemedit"><a aria-expanded="false" role="button" href="" id="modifybutton" ng-click="edit(problem.description)">Frage bearbeiten</a></div>
                        </div>
                        <div class="ym-grid">
                            <div class="ym-g100" id="tagsection" aria-labelledby="tagsheadline">
                                <h2 id="tagsheadline">Tags:</h2>
                                <ul>
                                    <li ng-repeat="tag in problem.tags" class="problemtag"><a role="button" ng-click="loadProblemByTag(tag.name)" href="">{{tag.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ym-grid">
                            <div id="created" class="ym-g50 ym-gr">
                                <p>Erstellt durch {{problem.user.username}} am {{formatDate(problem.created)}} Uhr
                                </p>
                            </div>
                            <div id="countsolution" class="ym-g50 ym-gl">
                                Anzahl vorgeschlagener Lösungen: {{problem.solutions.length}}
                                <p class="suggestbutton"><a role="button" ng-click="getSimiliarProblems(problem.id)" href="">Ähnliche Probleme anzeigen</a>
                                </p>
                            </div>
                        </div>
                        <div class="ym-grid comment">
                            <div class="ym-g100 "><a href="" ng-click="showHiddenCommentBox()">Kommentieren</a>
                            </div>
                            <div ng-hide="hiddenComment" ng-controller="commentController" comment-question>
                            </div>
                            <div class="commentsection">
                                <p ng-repeat="comment in problem.comments"><b>Kommentar von {{comment.user.username}}</b> am {{formatDate(comment.created)}} - {{comment.text}}</p>
                            </div>
                        </div>

                    </article>
                    <article class="ym-grid">
                        <a name="solutions"></a>
                        <div class="solution" ng-repeat="solution in problem.solutions">
                            <div class="solutiondescription" class="ym-grid">
                                <div class="ym-g90 ym-gr"><h2 id="answer{{solution.id}}">Lösung von {{solution.user.username}}</h2>
                                {{solution.text}}</div>
                                <div class="ym-g6 ym-gl finalsolution" ng-init="checkForFinalSolution(problem.chosen_solution_id, solution.id)">
                                    <input type="radio" ng-checked="problem.chosen_solution_id == solution.id"  name="finalsolution" id="finalsolution{{solution.id}}" />
                                    <img title="{{finalSolution[solution.id]}}" alt="{{finalSolution[solution.id]}}" role="button" src="ressource/check.png" ng-click="setFinalSolution(problem.id, solution.id)">
                                    <label for="finalsolution{{solution.id}}" class="invisibleLabel">Löst meine Frage</label>
                                </div>
                            </div>

                            <div class="ym-grid ratingsection" ng-init="getRatings(problem.id, solution.id)">
                                <!-- <div class=" ym-g80 ym-gl"> -->
                                    <div class="ym-fbox ym-fbox-check ym-50 ym-gl help" ng-init="myRating(problem.id, solution.id)">
                                        <fieldset>
                                            <legend>Hilfreich</legend>
                                            <p>
                                                <input type="radio" name="helpme{{solution.id}}" id="helpme{{solution.id}}" ng-click="vote(problem.id, solution.id, 'helpful', 1)" ng-checked="myRating[solution.id].helpful == 1" />
                                                <label for="helpme{{solution.id}}">Hat mir geholfen ({{rating[solution.id].helpful.votes[1]}} Benutzer)</label>
                                            </p>
                                            <input type="radio" name="helpme{{solution.id}}" id="helpmenot{{solution.id}}" ng-click="vote(problem.id, solution.id, 'helpful', -1)" ng-checked="myRating[solution.id].helpful == -1" />
                                            <label for="helpmenot{{solution.id}}">Hat mir nicht geholfen ({{rating[solution.id].helpful.votes["-1"]}} Benutzer)</label>
                                        </fieldset>
                                    </div>
                                    <div class="ym-fbox ym-fbox-check ym-g50 ym-gr difficult" ng-init="myRating(problem.id, solution.id)">
                                        <fieldset>
                                            <legend>Schwierigkeitsgrad</legend>
                                            <p>
                                                <input type="radio" name="easy{{solution.id}}" id="easy{{solution.id}}" ng-click="vote(problem.id, solution.id, 'difficulty', 1)" ng-checked="myRating[solution.id].difficulty == 1" />
                                                <label for="easy{{solution.id}}">Ist leicht anzuwenden ({{rating[solution.id].difficulty.votes["1"]}} Benutzer)</label>
                                            </p>
                                            <input type="radio" name="easy{{solution.id}}" id="difficult{{solution.id}}" ng-click="vote(problem.id, solution.id, 'difficulty', -1)" ng-checked="myRating[solution.id].difficulty == -1" />
                                            <label for="difficult{{solution.id}}">Ist schwer anzuwenden ({{rating[solution.id].difficulty.votes["-1"]}} Benutzer)</label>
                                        </fieldset>
                                    </div>
                               <!--  </div> -->
                         <!--        <div ng-show="isOwner" class="ym-fbox ym-fbox-check finalsolution ym-g50 ym-gr">
                             <input type="radio" ng-checked="problem.chosen_solution_id == solution.id"  name="finalsolution" id="finalsolution{{solution.id}}" />
                             <img src="ressource/check.png" ng-click="setFinalSolution(problem.id, solution.id)">
                             <label for="finalsolution{{solution.id}}" class="invisibleLabel">Löst meine Frage</label>
                         </div> -->
                                <div class="ym-grid solutioncreated">
                                    Lösung vom {{formatDate(solution.created)}} Uhr
                                </div>

                            </div>
                        </div>

                    </article>
                    <div class="solutionbox" ng-controller="solutionController" answer-question></div>
                    <div id="loginresult" class="result" role="status" aria-live="assertive">
                        {{result}}
                    </div>
                    <article id="suggestionarea" aria-live="assertive" class="ym-grid" ng-show="active" aria-labelledby="suggestionheadline">
                        <a id="suggestions"></a>
                        <h1 id="suggestionheadline" class="headline">Ähnliche Fragen</h1>
                        Hier werden ähnliche Fragen zu dieser Frage angeboten. Weiterhin finden Sie zu den Fragen auch ihre Lösungen. Sie haben die Möglichkeit ähnliche Lösungen direkt für die aktuelle Frage vorzuschlagen oder diese vorher zu bearbeiten.
                        <div class="similiarprob ym-gc100" ng-repeat="problem1 in similiarProblems.results">
                            <h2>Frage:&nbsp;{{problem1.problem.title}}</h2>
                               <div class="facts">
                                     Ähnlichkeit (Total) = {{formatToPercent(problem1.similarity)}}%
                                     Ähnlichkeit (Beschreibung) = {{formatToPercent(similiarProblems.explanation.facts.problem_explanation[problem1.problem.id].attributes.description.facts.similarity)}}%
                                     Ähnlichkeit (Tags) = {{formatToPercent(similiarProblems.explanation.facts.problem_explanation[problem1.problem.id].attributes.tags.facts.similarity)}}%
                                     Ähnlichkeit (Titel) = {{formatToPercent(similiarProblems.explanation.facts.problem_explanation[problem1.problem.id].attributes.title.facts.similarity)}}%
                                     <a href="" ng-click="alert(similiarProblems, problem1.problem.id)" title="Hier bekommen Sie eine genaue Erklärung über die Ähnlichkeiten.">Erklärung</a>
                                </div>
                            <div class="similiarprobsolution {{problem1.problem.id}}" ng-repeat="solution in problem1.problem.solutions" ng-init="setTrue(solution.id, problem1.problem.id)">
                                <h3 title="anklicken zum anzeigen"><a href="" id="sol{{solution.id+'-'+problem1.problem.id}}" ng-click="showSol(solution.id,problem1.problem.id)" aria-expanded="false">Lösung von {{solution.user.username}}:&nbsp;</a>
                                </h3>
                                <span ng-hide="show[solution.id+'-'+problem1.problem.id]">{{solution.text}}
                                    <form class="ym-form" ng-hide="liveEditHide" id="form{{solution.id+'-'+problem1.problem.id}}">
                                    <label class="invisibleLabel" for="liveEdit{{solution.id+'-'+problem1.problem.id}}">Hier die Lösung bearbeitet werden.</label>
                                    <textarea class="live" id="liveEdit{{solution.id+'-'+problem1.problem.id}}" ng-model="liveEditValue"></textarea>
                                    <button class="ym-primary" ng-click="suggestSolution(problem.id, solution.id, liveEditValue)">Lösung vorschlagen</button>
                                    </form>
                                    <p class="suggestsolutionbutton"><a href="" ng-click="suggestSolution(problem.id, solution.id, liveEditValue)" role="button">Lösung vorschlagen</a>&nbsp;<a href="" id="a{{solution.id+'-'+problem1.problem.id}}"ng-keyup="liveEdit(solution.text,solution.id,problem1.problem.id, $event)" ng-click="liveEdit(solution.text,solution.id,problem1.problem.id, $event)" role="button" aria-expanded="false">Lösung erweitern</a>
                                    </p>
                                </span>
                            </div>
                        
                        </div>
                </div>
                </article>

            </div>
        </div>
        <footer>
            <a href="help.html">Hilfe</a>
            <ul class="ym-skiplinks">
                <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>
