<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Nach Fragen suchen</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">
    <link rel="stylesheet" type="text/css" href="css/tag.css">
    <link rel="stylesheet" type="text/css" href="css/problemshortview.css">


    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />
    <script type="text/javascript" src="js/variable.js"></script>
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script type="text/javascript" src="js/controller/searchController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>
</head>

<body ng-controller="basicController" ng-init="startFunctions()">
    <script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->

    <a name="start"></a>
    <ul class="ym-skiplinks">
        <li><a class="ym-skip" href="#navigation">Springe zur Navigation (Drücke Enter)</a>
        </li>
        <li><a class="ym-skip" href="#problemtitle">Springe zu Suchfeldern (Drücke Enter)</a>
        </li>
        <li><a class="ym-skip" href="#tags">Springe zu Tagsuchfeld (Drücke Enter)</a>
        </li>
        <li><a class="ym-skip" href="#cquestions">Springe zu Suchergebnissen (Drücke Enter)</a>
        </li>
    </ul>

    <div class="ym-wrapper" ng-controller="basicController" ng-init="checkUser()">
        <div class="ym-wbox">
            <header>
            </header>

            <nav role="navigation">
                <ul>
                    <div id="left">
                        <li class="login" ng-controller="logController" login ng-init="">
                        </li>
                    </div>
                    <div id="right" class="small" aria-hidden="true">

                        <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
                        </li>
                        <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
                        </li>

                    </div>
                </ul>
            </nav>
        
        
        <a id="navigation"></a>
        <nav class="ym-hlist" role="navigation">

            <ul>
                <li><a href="index.html">Start</a>
                </li>
                <li><a href="currentproblems.html">Aktuelle Fragen</a>
                </li>
                <li><a href="createproblems.html">Frage stellen</a>
                </li>
                <li><a href="myproblems.html" ng-show="userLoggedIn" ng-cloak>Meine Fragen</a>
                </li>
            </ul>
            <div ng-controller="autoCompleteController" auto-complete-problem></div>
        </nav>
        <div class="ym-wrapper">
            <div class="ym-wbox" role="main" aria-labelledby="maincontent" ng-controller="createSearchController" ng-init="checkOnload()">

                <div class="ym-cbox">

                    <a name="content"></a>
                    <div id="maintext">

                        <h1 id="maincontent" ng-init="pageCount = 0">Nach Fragen suchen</h1>
                        <form class="ym-form">
                            <div class="ym-fbox">
                                <label class="invisibleLabel" for="problemtitle">Titel der Frage</label>
                                <input type="text" name="problemtitle" ng-keyup="searchByEnter($event, problem.title, choosenTags)" id="problemtitle" ng-model="problem.title" placeholder="Geben Sie eine kurze Beschreibung Ihres Problemes an."/>
                                <div ng-controller="autoCompleteController" auto-complete-tag ng-init="deleteRequired()"></div>
                                <ul class="ym-skiplinks">
                                    <li><a class="ym-skip" href="#tagsuche">Springe zur Tagsuche (Drücke Enter)</a>
                                    </li>
                                </ul>

                                <div aria-labelledby="choosenTagOverview" class="problemtagsection">
                                    <h3 id="choosenTagOverview">Ausgewählte Tags:</h3>
                                    <ul>
                                        <li class="problemtag" ng-repeat="tag in choosenTags">
                                            <a href="" ng-keydown="checkIfEnter($event,tag)" ng-dblclick="deleteFromView(tag)">{{tag}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="ym-fbox">
                                <button type="button" ng-click="newSearch(problem.title,choosenTags)" class="ym-button ym-primary">Suchen</button>
                            </div>
                        </form>

                        <article class="ym-grid" aria-labbelledby="currentquestions">
                            <div class="ym-g75 ym-gc">

                                <h2 id="currentquestions" class="headline">Gefundene Fragen</h2>
                                <ul class="problist">
                                    <li ng-repeat="question in showResults.results">
                                        <div class="problem">
                                            <div class="ym-grid problemtop">
                                                <div class="ym-g70 ym-gl problemtopleft">
                                                    <h3><a ng-click="loadProblem(question.id)" href="">{{question.title}}</a>
                                                    </h3>
                                                    <p class="created">Erstellt am {{formatDate(question.created)}}</p>
                                                </div>
                                                <div class="ym-g3 ym-gr problemtopright">
                                                    Frage
                                                    <span ng-hide="{{question.solved_for_problem_creator}}">nicht&nbsp;</span>gelöst
                                                    <span ng-show="{{question.solved_for_problem_creator}}">
                                                        <img alt="Als gelöst markiert" src="ressource/check.png" />
                                                    </span>

                                                </div>
                                            </div>
                                            <div class="ym-grid problembottom">
                                                <div class="ym-g70 ym-gl">
                                                    <div class="problemtagsection">
                                                        <ul>
                                                            <li ng-repeat="tag in question.tags" class="problemtag"><a href="" ng-click="loadProblemByTag(tag.name)">{{tag.name}}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="searchpages" ng-hide="searchquestions.length<=1">Suchergebnisse:
                                <ul>
                                    <li ng-repeat="object in searchquestions"><a title="Suchergebnis {{object.query.PAGE*10+1}} bis {{object.query.PAGE*10+10}}" href="" ng-click="loadSearchPageCount(object.query.PAGE)">{{object.query.PAGE*10+1}}..{{object.query.PAGE*10+10}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div aria-live="assertive" ng-hide="noresults" ng-cloak>{{noresultstext}}</div>
                        </article>
                    </div>
                </div>


            </div>
        </div>

        <footer>
            <a href="help.html">Hilfe</a>
            <ul class="ym-skiplinks">
                <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                </li>
            </ul>
        </footer>


        </div>
    </div>



</body>

</html>
