<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Grundlayout</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">
    <link rel="stylesheet" type="text/css" href="css/problemshortview.css">
    <link rel="stylesheet" type="text/css" href="css/tag.css">

    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />

    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>

</head>

<body ng-controller="basicController" ng-init="startFunctions()">
    <script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->

    <a name="start"></a>
        <ul class="ym-skiplinks">
    <li><a class="ym-skip" href="#cquestions">Springe zu den aktuellen Fragen (Drücke Enter)</a>
    </li>
    <li><a class="ym-skip" href="#unask">Springe zu den ungelösten Fragen (Drücke Enter)</a>
    </li>
     <li><a class="ym-skip" href="#tquestions">Springe zu den nach Tags sortierten Fragen (Drücke Enter)</a>
    </li>
    </ul>

    <div class="ym-wrapper">
        <div class="ym-wbox">
            <header>
<!--     <img src="ressource/compass36.png" alt="Ein Kompass"></img>
    <p>
        <img src="ressource/compass36-inverted.png" alt="Ein Kompass"></img>
    </p> -->
            </header>
            <nav class="small" role="navigation">
                <ul>
                    <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
                    </li>
                    <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
                    </li>
                </ul>
            </nav>
            <a name="navigation">
                <nav class="ym-hlist" role="Navigation">
            </a>
            <ul>
                <li><a href="index.html">Home</a>
                </li>
                <li><a href="createproblems.html">Frage erstellen</a>
                </li>
                 <li><a href="myproblems.html" ng-show="userLoggedIn">Meine Fragen</a>
                </li>
                <li ng-controller="logController" login ng-init="loggedIn()">
                </li>
            </ul>
            <div ng-controller="autoCompleteController" auto-complete-problem results="results"></div>
            </nav>
                <div class="ym-wrapper">
                    <div class="ym-wbox" role="main" aria-labelledby="maincontent">
                        <div class="ym-cbox">
                            <a name="content"></a>
                            <div id="maintext">
                                <h1 id="maincontent">Aktuelle Fragen</h1>
                                <p>Hier finden Sie sowohl die Fragen, die als letztes gestellt wurden, sowie eine Auflistung ungelöster Fragen und eine Übersicht von Tags, nach denen die Fragen kategorisiert sind. Sie erhalten durch anklicken der Tags eine Auflistung der Fragen, die mit diesem Tag gekennzeichnet wurden.</p>
                   </div>
                    <div class="ym-grid linearize-level-2">
                                <article class="ym-g50 ym-gl" aria-labbelledby="currentquestions">
                                <div class="ym-gbox">
                                    <!-- content -->
                                    <a id="cquestions"></a>
                                    <h3 id="currentquestions">Aktuelle Fragen</h3>
                                   <ul class="problist"><li ng-repeat="question in probs"><div class="prob"><div class="ym-grid"><div class="ym-g60 ym-gl topleft"><h4><a ng-click="loadProblem(question.id)" href="">{{question.title}}</a></h4><p class="created">Erstellt am {{formatDate(question.created)}}</p></div><div class="ym-g40 ym-gr topright"><p>gelöst</p><p>{{question.solutions.length}} Antworten</p></div></div><div class="ym-grid bottom"><div class="ym-g60 ym-gl"><div class="tagsection"><ul><li ng-repeat="tag in question.tags" class="tag"><a href="" ng-click="loadProblemByTag(tag.name)">{{tag.name}}</a></li></ul></div></div><div class="ym-g40 ym-gr bottomright"><span class="probhelpyes">Hilfreich für x Nutzer</span><span class="probhelpno">Nicht hilfreich für x Nutzer</span></div></div></div></li></ul>
                                </div>
                            </article>
                            <article class="ym-g50 ym-gr" aria-labbelledby="unaskquestions">
                                <div class="ym-gbox">
                                    <!-- content -->
                                    <a id="unask"></a>
                                    <h3 id="unaskquestions">Ungelöste Fragen</h3>
                                      <ul class="problist"><li ng-repeat="question in noAsk"><div class="prob"><div class="ym-grid"><div class="ym-g60 ym-gl topleft"><h4><a ng-click="loadProblem(question.id)" href="">{{question.title}}</a></h4><p class="created">Erstellt am {{formatDate(question.created)}}</p></div><div class="ym-g40 ym-gr topright"><p>gelöst</p><p>{{question.solutions.length}} Antworten</p></div></div><div class="ym-grid bottom"><div class="ym-g60 ym-gl"><div class="tagsection"><ul><li ng-repeat="tag in question.tags" class="tag"><a href="" ng-click="loadProblemByTag(tag.name)">{{tag.name}}</a></li></ul></div></div><div class="ym-g40 ym-gr bottomright"><span class="probhelpyes">Hilfreich für x Nutzer</span><span class="probhelpno">Nicht hilfreich für x Nutzer</span></div></div></div></li></ul>
                                </div>  
                            </article>
                                <article class="ym-g100 ym-gl" aria-labbelledby="tagquestions">
                                <div class="ym-gbox">
                                    <!-- content -->
                                    <a id="tquestions"></a>
                                    <h3 id="tagquestions">Fragen nach Tags sortiert</h3>
                                      <ul><li class="tag tagbox" ng-repeat="tags in allTags"><a ng-click="loadProblemByTag(tags.name)" href="">{{tags.name}}</a></li></ul>
                                </div>
                            </article>

                </div>
            </div>

            <footer>
                <a href="help.html">Hilfe</a>
                <ul class="ym-skiplinks">
                    <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                    </li>
                </ul>
            </footer>

        </div>
    </div>




</body>

</html>
