<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Grundlayout</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">
    <link rel="stylesheet" type="text/css" href="css/problem.css">

    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/newaccounthide.css" media="screen, projection" />

    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/controller/loginController.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>

</head>

<body ng-controller="basicController">
    <script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->

    <a name="start"></a>
    <ul class="ym-skiplinks">
        <li><a class="ym-skip" href="#username">Springe beim Anmelden (Drücke Enter)</a>
        </li>
    </ul>

    <div class="ym-wrapper">
        <div class="ym-wbox">
            <header>
<!--                 <img src="ressource/compass36.png" alt="Ein Kompass"></img>
<p>
    <img src="ressource/compass36-inverted.png" alt="Ein Kompass"></img>
</p>
<h1>Compass</h1> -->
            </header>
            <nav class="small" role="navigation">
                <ul>
                    <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
                    </li>
                    <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
                    </li>
                </ul>
            </nav>
            <a name="navigation"></a>
            <nav class="ym-hlist" role="vavigation">
                <ul>
                    <li><a href="index.html">Start</a>
                    </li>
                    <li><a href="currentproblems.html">Aktuelle Fragen</a>
                    </li>
                    <li><a href="myproblems.html" ng-show="userLoggedIn">Meine Fragen</a>
                    </li>
                    <li ng-controller="logController" login ng-init="loggedIn()">
                    </li>
                </ul>
                <div ng-controller="autoCompleteController" auto-complete-problem results="results"></div>
            </nav>
            <div>
                <div class="ym-wrapper">
                    <div class="ym-wbox" role="main" aria-labelledby="maincontent" ng-controller="createLoginController">

                            <a name="content"></a>
                                <h1 id="maincontent">Benutzeranmeldung</h1>
                                <div id="maintext">
                                Sie haben hier die Möglichkeit sich anzumelden. Falls Sie zum ersten mal auf dieser Seite sind, können Sie hier einen neuen Nutzer anlegen. Zu zwecken der Sicherheit muss das Passwort aus mindestens sechs Zeichen und einer Zahl bestehen. Weiterhin erfordert die Anmeldung die Angabe einer Emailadresse, damit Ihnen bei Ihr Passwort, bei Verlust, zugesendet werden kann.
                                <form class="ym-form">
                                    <div class="ym-fbox">
                                    <label for="username">Benutzername:</label>
                                    <input type="text" id="username" ng-model="user.name" placeholder="Bitte geben Sie Ihren Benutzernamen an."/>
                                    </br>
                                    <label for="password">Passwort:</label>
                                    <input type="password" id="password" ng-model="user.password" placeholder="Bitte geben Sie Ihr Passwort ein."/>
                                    </br>
                                    <button ng-click="login(user.name, user.password)">Anmelden</button>
                                    <button ng-click="show()">Neuer Benutzer</button>
                                    </div>
                                </form>
                                <div id="loginresult" aria-live="assertive">
                                   {{result}}
                                </div>
                                <div ng-hide="hide">
                                    <h1>Neuen Benutzer anmelden</h1>
                                    <form class="ym-form">
                                        <div class="ym-fbox">
                                        <label for="new_username">Benutzername:</label>
                                        <input type="text" id="new_username" ng-model="user.new_name" aria-labelledby="hidden" required placeholder="Bitte überlegen Sie sich einen Benutzernamen"/>
                                        </br>
                                        <label for="set_password">Passwort:</label>
                                        <input type="password" id="set_password" ng-model="user.set_password" required placeholder="Das Passwort muss mindestens 6 Zeichen und eine Zahl besitzen"/>
                                        </br>
                                        <label for="set_password_repeat">Passwort wiederholen:</label>
                                        <input type="password" id="set_password_repeat" ng-model="user.set_password_repeat" required placeholder="Das gewählte Passwort hier bitte wiederholen"/>
                                        </br>
                                        <label for="optional_email">Emailadresse:</label>
                                        <input type="text" id="optional_email" ng-model="user.optional_email" required placeholder="Bitte geben Sie eine Email-Adresse an."/>
                                        </br>
                                        <label for="optional_email_repeat">Emailadresse wiederholen:</label>
                                        <input type="text" id="optional_email_repeat" ng-model="user.optional_email_repeat" required placeholder="Bitte wiederholen Sie die Emailadresse."/>
                                        </br>
                                        <button ng-click="createUser(user.new_name, user.set_password, user.set_password_repeat, user.optional_email, user.optional_email_repeat)">Anlegen</button>
                                        </div>
                                    </form>
                                </div>
                                </div>
                    </div>

                </div>
            </div>

            <footer>
                <a href="help.html">Hilfe</a>
                <ul class="ym-skiplinks">
                    <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                    </li>
                </ul>
            </footer>

        </div>
    </div>



</body>

</html>
