<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Grundlayout</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">
    <link rel="stylesheet" type="text/css" href="css/problem.css">
    <link rel="stylesheet" type="text/css" href="css/tag.css">

    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />

    <script type="text/javascript" src="js/variable.js"></script>
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script type="text/javascript" src="js/controller/problemController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>


</head>

<body ng-controller="basicController">
    <script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->

    <a name="start">
        <ul class="ym-skiplinks">
    </a>
    <li><a class="ym-skip" href="#question">Springe zur Frage (Drücke Enter)</a>
    </li>
    <li><a class="ym-skip" href="#solution">Springe zu Antwort erstellen (Drücke Enter)</a>
    </li>
    </ul>

    <div class="ym-wrapper">
        <div class="ym-wbox">
            <header>
                <!--                 <img src="ressource/compass36.png" alt="Ein Kompass"></img>
<p>
    <img src="ressource/compass36-inverted.png" alt="Ein Kompass"></img>
</p>
<h1>Compass</h1> -->
            </header>
            <nav class="small" role="navigation">
                <ul>
                    <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
                    </li>
                    <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
                    </li>
                </ul>
            </nav>
            <a name="navigation"></a>
            <nav class="ym-hlist" role="navigation">
                <ul>
                    <li><a href="currentproblems.html">Aktuelle Fragen</a>
                    </li>
                    <li><a href="search.html">Fragen suchen</a>
                    </li>
                    <li><a ng-show="!userLoggedIn" href="myproblems.html">Meine Fragen</a>
                    </li>
                    <li><a ng-show="userLoggedIn" href="login.html">Anmelden</a>
                    </li>
                    <li ng-controller="logController" login>
                    </li>
                </ul>
                <div ng-controller="autoCompleteController" auto-complete-problem></div>
            </nav>
            <div class="ym-wrapper">
                <div class="ym-wbox" role="main" aria-labelledby="maincontent" ng-controller="problemController" ng-init="getProblem()">

                    <div id="maintext">

                        <a name="question"></a>
                        <h1 id="headline">{{problem.title}}</h1>
                        <div class="problem" id="maincontent">

                            <article class="ym-g100 ym-gc" aria-labbelledby="headline">
                                <div class="ym-gbox">
                                    <div class="ym-grid">
                                        <div id="rating" class="ym-g20 ym-gl">Status:</div>
                                        <div id="questiondescription" class="ym-g80 ym-gr">{{problem.description}}</div>
                                    </div>
                                    <div class="ym-grid" id="problembottom">
                                        <div id="tagsbar" class="ym-g60 ym-gl">
                                            <h4>Tags:</h4>
                                            <ul>
                                                <li ng-repeat="tag in problem.tags" class="tag"><a href="">{{tag.name}}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="countsolution" class="ym-g40 ym-gr">
                                            <p>Erstellt durch {{problem.user.username}} am <b>{{formatDate(problem.created)}}</b> 
                                            </p>Anzahl vorgeschlagener Lösungen: {{problem.solutions.length}}
                                        </div>


                                    </div>
                                    <div class="ym-g100 ym-gc comment"><a href="" ng-click="showHiddenCommentBox()">Kommentieren</a>
                                    </div>
                                    <div ng-hide="hiddenComment" ng-controller="commentController" comment-question>
                                    </div>
                                    <div class="commentsection">Hier stehen die Kommentare</div>
                                </div>
                            </article>
                        </div>
                        <article class="ym-g100 ym-gc" aria-labbelledby="headline">
                            <div class="ym-gbox">
                                <div id="solutions" ng-repeat="solution in problem.solutions">
                                    <div class="ym-grid problemsolutions solution">
                                        <div id="questiondescription" class="ym-g100 ym-gc">
                                            <h3>Lösung von {{solution.user.username}}</h3>
                                            {{solution.text}}
                                        </div>

                                        <div class="ym-g100 ym-gc ratingsection">

                                            <div class="ym-fbox ym-fbox-check">
                                                <input type="radio" name="helpme" id="helpme" />
                                                <label for="helpme">Hat mir geholfen (Benutzer)</label>
                                                <input type="radio" name="helpme" id="helpmenot" />
                                                <label for="helpmenot">Hat mir nicht geholfen (Benutzer)</label>
                                            </div>
                                            <div class="ym-fbox ym-fbox-check">
                                                <input type="radio" name="easy" id="easy" />
                                                <label for="easy">Ist leicht anzuwenden (Benutzer)</label>
                                                <input type="radio" name="easy" id="difficult" />
                                                <label for="difficult">Ist schwer anzuwenden (Benutzer)</label>
                                            </div>
                                            <div class="ym-fbox ym-fbox-check">
                                                <input type="radio" name="finalsolution" id="finalsolution" />
                                                <label for="finalsolution">Löst meine Frage</label>
                                            </div>
                                        </div>
                                        <!--                               <div ng-hide="hiddenComment" ng-controller="commentController" comment-question>
          </div>
          <div class="commentsection">Hier stehen die Kommentare</div> -->
                                    </div>

                                </div>
                            </div>
                        </article>
                        <div class="ym-g75 ym-gc solutionbox" ng-controller="solutionController" answer-question></div>
                        <div id="loginresult" class="result" aria-live="assertive">
                            {{result}}
                        </div>
                    </div>

                </div>
            </div>
            <footer>
                <a href="help.html">Hilfe</a>
                <ul class="ym-skiplinks">
                    <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                    </li>
                </ul>
            </footer>

        </div>
    </div>



</body>

</html>
