<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Grundlayout</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">
    <link rel="stylesheet" type="text/css" href="css/tag.css">
    <link rel="stylesheet" type="text/css" href="css/problemshortview.css">

 
    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />
    <script type="text/javascript" src="js/variable.js"></script>
    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
    <script type="text/javascript" src="js/controller/searchController.js"></script>
    <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>



</head>

<body ng-controller="basicController" ng-init="startFunctions()">
     <script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->

    <a name="start"> </a>
        <ul class="ym-skiplinks">
   
    <li><a class="ym-skip" href="#navigation">Springe zur Navigation (Drücke Enter)</a>
    </li>
    <li><a class="ym-skip" href="#problemtitle">Springe zu Suchfeldern (Drücke Enter)</a>
    </li>
     <li><a class="ym-skip" href="#tags">Springe zu Tagsuchfeld (Drücke Enter)</a>
    </li>
    <li><a class="ym-skip" href="#cquestions">Springe zu Suchergebnissen (Drücke Enter)</a>
    </li>
    </ul>

    <div class="ym-wrapper" ng-controller="basicController" ng-init="startFunctions()">
        <div class="ym-wbox">
            <header>
<!--                 <img src="ressource/compass36.png" alt="Ein Kompass"/>
<p>
    <img src="ressource/compass36-inverted.png" alt="Ein Kompass"/>
</p> -->
            </header>

               <nav class="small" role="navigation">
               <ul>
               <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
               </li>
               <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
               </li>
                </ul>
                </nav>
            <a id="navigation"></a>
                <nav class="ym-hlist" role="navigation">
            
            <ul>
                <li><a href="index.html">Start</a>
                </li>
                <li><a href="currentproblems.html">Aktuelle Fragen</a>
                </li>
                <li><a href="myproblems.html" ng-show="!userLoggedIn">Meine Fragen</a>
                </li>
                  <li ng-controller="logController" login >
                </li>
            </ul>
            <div ng-controller="autoCompleteController" auto-complete-problem></div>
            </nav>
            <div class="ym-wrapper">
                    <div class="ym-wbox" role="main" aria-labelledby="maincontent" ng-controller="createSearchController"  ng-init="checkOnload()">

                        <div class="ym-cbox">

                            <a name="content"></a> 
                            <div id="maintext">

                                <h1 id="maincontent">Nach Fragen suchen</h1>
                                        <form class="ym-form">
                                            <div class="ym-fbox">
                                                 <label class="invisibleLabel" for="problemtitle">Titel der Frage</label>
                                                 <input type="text" name="problemtitle" id="problemtitle" ng-model="problem.title" placeholder="Geben Sie eine kurze Beschreibung Ihres Problemes an." />
                                             <div ng-controller="autoCompleteController" auto-complete-tag></div>
                                             <ul class="ym-skiplinks"><li><a class="ym-skip" href="#tagsuche">Springe zur Tagsuche (Drücke Enter)</a></li></ul>
                                       
                                            <div aria-labelledby="choosenTagOverview">
                                                 <h3 id="choosenTagOverview">Ausgewählte Tags:</h3>
                                                 <ul>
                                                 <li class="tag" ng-repeat="tag in choosenTags">
                                                 <a href="" ng-keydown="checkIfEnter($event,tag)" ng-dblclick="deleteFromView(tag)">{{tag}}</a>
                                                </li>
                                                </ul>
                                            </div>
                                            </div>
                                            <div class="ym-fbox"><button type="button" ng-click="search(problem.title,choosenTags)" class="ym-button ym-primary">Suchen</button></div>
                                       </form>
                               
                            <article class="ym-g75 ym-gc" aria-labbelledby="currentquestions">
                                <div class="ym-gbox">
                                    <!-- content -->
                                    <a id="cquestions"></a>
                                    <h2 id="currentquestions">Suchergebnisse</h2>
                                   <ul class="problist"><li ng-repeat="question in searchquestions"><div class="prob"><div class="ym-grid"><div class="ym-g60 ym-gl topleft"><h4><a ng-click="loadProblem(question.id)" href="">{{question.title}}</a></h4><p class="created">Erstellt am {{formatDate(question.created)}}</p></div><div class="ym-g40 ym-gr topright"><p>gelöst</p><p>{{squestion.solutions.length}} Antworten</p></div></div><div class="ym-grid bottom"><div class="ym-g60 ym-gl"><div class="tagsection"><ul><li ng-repeat="tag in question.tags" class="tag"><a href="" ng-click="loadProblemByTag(tag.name)">{{tag.name}}</a></li></ul></div></div><div class="ym-g40 ym-gr bottomright"><span class="probhelpyes">Hilfreich für x Nutzer</span><span class="probhelpno">Nicht hilfreich für x Nutzer</span></div></div></div></li></ul>
                                </div>
                            </article>
                          </div>
                    </div>
                          
                          
                </div>
            </div>

            <footer>
                <a href="help.html">Hilfe</a>
                <ul class="ym-skiplinks">
                    <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                    </li>
                </ul>
            </footer>

        </div>
    </div>



</body>

</html>
