<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="app">

<head>
    <META HTTP-EQUIV="content-type" CONTENT="text/html; charset=utf-8" />
    <title>Grundlayout</title>
    <link rel="stylesheet" type="text/css" href="yaml/yaml/core/base.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/hlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/navigation/vlist.css">
    <link rel="stylesheet" type="text/css" href="yaml/yaml/forms/gray-theme.css">

    <link rel="stylesheet" type="text/css" href="css/layoutstyle.css" title="Standard" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="css/layoutstyle_alternativ.css" title="Dunkles Layout" media="screen, projection" />

    <script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script type="text/javascript" src="js/controller/basicController.js"></script>
     <script type="text/javascript" src="js/direktiven/autocomplete.js"></script>


</head>

<body ng-controller="basicController"  ng-init="loggedIn()">
    <script type="text/javascript" src="yaml/yaml/core/js/yaml-focusfix.js"></script>

    <!-- Hier werden die Skiplinks angeboten, zum einen zum Navigieren innerhalb der Dokumentenstruktur (Content, Navigation usw) und zum anderen Innerhalb der angebotenen Probleme  -->
   
    <a name="start"><ul class="ym-skiplinks"></a>
        <li><a class="ym-skip" href="#results">Springe zu den Suchergebnissen(Drücke Enter)</a>
        </li>
    </ul>

    <div class="ym-wrapper">
        <div class="ym-wbox">
            <header>
<!--                 <img src="ressource/compass36.png" alt="Ein Kompass"></img>
<p>
    <img src="ressource/compass36-inverted.png" alt="Ein Kompass"></img>
</p>
<h1>Compass</h1> -->
            </header>
              <nav class="small" role="navigation">
                <ul>
               <li><a ng-click="setStyle('Standard')" href="">Helles Layout</a>
               </li>
               <li><a ng-click="setStyle('Dunkles Layout')" href="">Kontrastreiches Layout</a>
               </li>
                </ul>
                </nav>
            <a name="navigation">
                <nav class="ym-hlist" role="navigation">
            </a>
            <ul>
                <li><a href="index.html">Start</a>
                </li>
                <li><a href="currentproblems.html">Aktuelle Fragen</a>
                </li>
                <li><a href="search.html">Fragen finden</a>
                </li>
                <li><a ng-show="userLoggedIn" href="myproblems.html">Meine Probleme</a>
                <li  ng-controller="logController" login>
                </li>
            </ul>
            <form class="ym-searchform">
                <input class="ym-searchfield" type="search" placeholder="Probleme suchen" />
                <input class="ym-searchbutton" type="submit" value="Suchen" />
            </form>
            </nav>
            <div>
                <div class="ym-wrapper">
                    <div class="ym-wbox" role="main" aria-labelledby="maincontent">

                        <div class="ym-cbox">

                            <a name="results"></a>
                            <div id="maintext">
                                <h1 id="maincontent" ng-init="searchByTag()">Suchergebnisse</h1>
                            
                            <ul><li ng-repeat="problem in tagProblems">{{problem.description}}</li><ul>
                            </div>  
                        </div>
                    </div>

                </div>
            </div>

            <footer>
                <a href="Hilfe">Hilfe</a>
                <ul class="ym-skiplinks">
                    <li><a class="ym-skip" href="#start">Springe zum Anfang (Drücke Enter)</a>
                    </li>
                </ul>
            </footer>

        </div>
    </div>



</body>

</html>
