﻿/**
* Grundlayout für alle Seiten
*
*@Author Patrick Rütz
*Hier wird das Grundlayout für alle Seiten definiert.
*Alternatives Layout mit dunkelen Hintergrund und Heller Schrift
*/


 body {
 	background-color:   black;                  /* white */
 	color:  white;                             /* black;   */
 }

 header {
    background-color:  black;                      /* white*/
    color:    white;                         /* black*/
    text-align: center;
    height: 100%;
}

header img {
display: none;
}

header p img {
  width: 100px;
  height: 100px;
  display: inline;
}

ul h1 {
  padding-bottom: 15px;
  padding-top: 30px;
}


footer {
	    background-color:white;
   		color:black;
   		margin-top: 300px;
}	

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

label {
  visibility: collapse;
}

h1,h2,h3,h4,h5,h6 {
color:white;
}

/**
* Content
*
* Definiert, dass die Sidebar 20% der Seite einnimmt
*/

.ym-col1 {
     float: left; width: 20%; 
		   	} 

/**
* Sidebar
*
* Definiert, dass der content 80% der Seite einnimmt
*/
.ym-col3 { 
    margin: 0 0 0 300px;
    border-left: 2px solid black;
    padding-top: 30px;

	} 








/* Yaml */

/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 *
 * (en) Horizontal list navigation "hlist"
 * (de) Horizontale Navigationsliste "hlist"
 *
 * @copyright       © 2005-2013, Dirk Jesse
 * @license         CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-CDL (http://www.yaml.de/license.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         4.1.2
 */
@media all {
  .ym-hlist {
    /* (en) containing floats in IE */
    /* (de) Einfassen der Floats im IE */
    width: 100%;
    overflow: hidden;
    position: relative;
    line-height: 1em;
    background: white;
  }
  .ym-hlist ul {
    margin: 0;
    padding: 0.5em 1.5em;
    display: inline;
    float: left;
  }
  .ym-hlist ul li {
    display: inline;
    float: left;
    font-size: 1.0em;
    line-height: 1;
    list-style-type: none;
    margin: 0 .25em 0 0;
    padding: 0;
  }
  .ym-hlist ul li a, .ym-hlist ul li strong {
    background: transparent;
    color: black;
    display: block;
    font-size: 1em;
    line-height: 2em;
    padding: 0 0.5em;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    width: auto;
  }
  .ym-hlist ul li a:focus,
  .ym-hlist ul li a:hover,
  .ym-hlist ul li a:active {
    color: white;
    background: #666;
    /* background: rgba(255, 255, 255, 0.25); */
    border-radius: 0.2em;
    text-decoration: none;
    outline: 0 none;
  }




  .ym-hlist ul li.active {
    background: #666;
    /* background: rgba(255, 255, 255, 0.2); */
    border-radius: 0.2em;
    color: white;
  }
  .ym-hlist ul li.active strong,
  .ym-hlist ul li.active a:focus,
  .ym-hlist ul li.active a:hover,
  .ym-hlist ul li.active a:active {
    background: transparent;
    color: white;
    text-decoration: none;

  }

  /* ------- search form -------- */
  .ym-searchform {
    float: right;
    display: inline;
    line-height: 2;
    padding: 0.5em 1.5em;
  }
  .ym-searchform .ym-searchfield {
    -webkit-appearance: none;
    background: black;
    color: white;
    line-height: 1;
    padding: 0.25em;
    width: 12em;
    border: solid 1px #888;
    border: solid 1px rgba(255, 255, 255, 0.1);
    outline: none;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .ym-searchform .ym-searchbutton {
    -webkit-appearance: none;
    background: black;
    /* background: rgba(255, 255, 255, 0.2); */
    border-radius: .2em;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    line-height: 1.25;
    padding: 0.25em;
    border: solid 1px transparent;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }
}


/**
 * "Yet Another Multicolumn Layout" - YAML CSS Framework
 *
 * (en) Vertical list navigation "vlist"
 * (de) Vertikale Navigationsliste "vlist"
 *
 * @copyright       © 2005-2013, Dirk Jesse
 * @license         CC-BY 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-CDL (http://www.yaml.de/license.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         4.1.2
 */
@media all {
  /* 4 navigation levels defined */
  .ym-vlist {
    margin: 0 0 1.5em 0;
    list-style-type: none;
    background: transparent;
    border: 0 none;
  }
  .ym-vlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    border-top: 2px #ddd solid;
    border-bottom: 2px #ddd solid;
  }
  .ym-vlist ul ul {
    border: 0 none;
  }
  .ym-vlist li {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  .ym-vlist a,
  .ym-vlist strong,
  .ym-vlist span {
    display: block;
    padding: 3px 0px 3px 10%;
    text-decoration: none;
    border-bottom: 1px #ddd solid;
  }
  .ym-vlist a,
  .ym-vlist a:visited {
    color: black;
  }
  .ym-vlist li span {
    display: block;
    font-weight: bold;
    border-bottom: 1px #ddd solid;
  }
  .ym-vlist li.active {
    color: #fff;
    background-color: #444;
  }
  .ym-vlist li.active strong {
    font-weight: bold;
  }
  .ym-vlist li a,
  .ym-vlist li strong,
  .ym-vlist li span {
    width: 90%;
    padding-left: 10%;
    background-color: white;
  }
  .ym-vlist li a:focus,
  .ym-vlist li a:hover,
  .ym-vlist li a:active {
    background-color: #888;
    color: #fff;
    outline: 0 none;
  }


  .ym-vlist li ul li a,
  .ym-vlist li ul li strong,
  .ym-vlist li ul li span {
    width: 80%;
    padding-left: 20%;
  }
  .ym-vlist li ul li a,
  .ym-vlist li ul li a:visited {
    background-color: #f8f8f8;
    color: #333;
  }
  .ym-vlist li ul li a:focus,
  .ym-vlist li ul li a:hover,
  .ym-vlist li ul li a:active {
    background-color: #888;
    color: #fff;
  }
  .ym-vlist li ul li ul li a,
  .ym-vlist li ul li ul li strong,
  .ym-vlist li ul li ul li span {
    width: 70%;
    padding-left: 30%;
  }
  .ym-vlist li ul li ul li a,
  .ym-vlist li ul li ul li a:visited {
    background-color: #f0f0f0;
    color: #222;
  }
  .ym-vlist li ul li ul li a:focus,
  .ym-vlist li ul li ul li a:hover,
  .ym-vlist li ul li ul li a:active {
    background-color: #888;
    color: #fff;
  }

  .ym-vlist li ul li ul li a:hover{
    content: "test";
  }



  .ym-vlist li ul li ul li ul li a,
  .ym-vlist li ul li ul li ul li strong,
  .ym-vlist li ul li ul li ul li span {
    width: 60%;
    padding-left: 40%;
  }
  .ym-vlist li ul li ul li ul li a,
  .ym-vlist li ul li ul li ul li a:visited {
    background-color: #e8e8e8;
    color: #111;
  }
  .ym-vlist li ul li ul li ul li a:focus,
  .ym-vlist li ul li ul li ul li a:hover,
  .ym-vlist li ul li ul li ul li a:active {
    background-color: #888;
    color: #fff;
  }

  /* title */
  .ym-vtitle {
    font-weight: bold;
    font-size: 100%;
    width: 90%;
    padding: 3px 0px 3px 10%;
    margin: 0;
    color: #444;
    background-color: #fff;
    border-top: 2px #ddd solid;
  }
  .ym-vtitle + ul {
    border-top: 4px #888 solid;
  }
}

.ym-form {
    background: black;
    border: 2px #fff solid;
    margin: 0 0 1.5em 0;
    -webkit-box-shadow: 0 0 4px #dddddd;
    box-shadow: 0 0 4px #dddddd;
  }