/**
* Grundlayout für alle Seiten
*
*@Author Patrick Rütz
*Hier wird das Grundlayout für alle Seiten definiert.
*Alternatives Layout mit dunkelen Hintergrund und Heller Schrift
*/


 body {
 	background-color:   white;                  /* #dbd2d7 */
 	color:   black;                             /* #1e212a;   */
 }

 header {
    background-color:  white;                      /* #dbd2d7*/
    column-rule:    black;                         /* #1e212a*/
    text-align: center;
    height: 100%;
}

header img {
  width: 100px;
  height: 100px;
}

header p img {
  display: none;
}

ul h1 {
  padding-bottom: 15px;
  padding-top: 30px;
}


footer {
	    background-color:black;
   		color:white;
   		margin-top: 300px;
}	

.invisibleLabel {
  visibility: collapse;
}

.small ul li{
  color: black;
  font-size: 20px;
  list-style-type: none;
  float: right;
  margin-right: 10px;
}


/**t
* Content
*
* Definiert, dass die Sidebar 20% der Seite einnimmt
*/

.ym-col1 {
     float: left; width: 30%; 
		   	} 

/**
* Sidebar
*
* Definiert, dass der content 80% der Seite einnimmt
*/
.ym-col3 { 
    margin: 0 0 0 400px;
    border-left: 2px solid black;
    padding-top: 30px;

	} 
