
.animate-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  line-height:20px;
  opacity:1;
  background:white;
}
 
.animate-hide.ng-hide-add,
.animate-hide.ng-hide-remove {
  display:block!important;
}
 
.animate-hide.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}
