/**
* Styling für die Darstellung eines Problemes
*
* Ein Problem ist unterteilt in das Problem selbst, Kommentare, wo nur das Problem kommentiert werden kann und
* Lösungen, die wiederum bewertet werden können.
*/

.problem {
	color: black; /* #1e212a; */
  background-color: #FFFF99;
  margin-top: 30px;
  display:block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding-bottom: 200px;
  border-bottom: white solid 1px;
}
.problem h1{
	padding: 30px;
}
.problem #problemdescription{
  color:black;
  padding: 30px;
}

.problem #createdby{
  text-align: right;
  color:black;
    padding: 30px;
}
.problem #tags{
  border-top: black solid 2px;
  padding: 30px;
  margin-top: 30px;
}
.problem #countsolutions{
   border: black solid 3px;
   padding: 30px;
   height: 30px;
   width: 200px;
  margin-top: 30px;
  float:right;
}


.problem img {
	width: 50px;
	height: 50px;
}

.problemcomments{
 padding: 30px;
 border: black solid 3px; 
 background-color: lightgrey;
}

.problemsolutions{
 background-color: lightgreen;
 padding: 30px;
 border: black solid 3px; 
}
.currentproblem>h3 {
  color: black;
  margin: 30px;
}

.currentproblem li {
  list-style-type: none;
  margin:5px;
  color: black;
  margin: 30px;
}

.currentproblem li:hover{
  border: 2px solid orange;
}
