/**
* Styling für die Darstellung eines Problemes in Form einer Kurzdarstellung
*
* Problemen sollen in der Suche in einer verkürzten, aber dennoch prägnanten Darstellung präsentiert werden.
* Dazu gehören der Problem-Titel, die Beschreibung, der Status (gelöst oder ungelöst), die Anzahl an Lösungen 
* und die durschnittliche Bewertung
* 
*/

.shortproblem {
	color: black; /* #1e212a; */
  background-color: white;
  margin-top: 30px;
  display:block;
  text-decoration: none;
  height: 100%;
  width: 100%;
  padding-bottom: 50px;
  border: black solid 2px;
}
.shortproblem h2:hover {
  cursor: pointer; cursor: hand;
}

}

.shortproblem #description {
  margin:5px;
}

.shortproblem #solutioncountpositiv {
  margin:5px;
  background-color: lightgreen;
  width: 100px;
  text-align: center;
}
.shortproblem a{
  text-decoration: none;
  color: black;
}

.shortproblem #created{
  margin:5px;
  text-align: right;
  color: black;
}




