/**
* 	Defintion der Klasse Tag
*
* 	In dieser Datei wird das Aussehen eines Tags definiert
* 
*/

.tag {
  float: left;
  background-color: #00CED1;  /* #dbd2d7; */
  color: black; /* #1e212a; */
  margin-left: 3em;
  display:block; margin-bottom:0px; text-align:center; width:auto; height: auto;
  padding:1px; text-decoration:none;
  border: 	2px solid black;
  margin-top: 15px;
  opacity: 0.7;


}

.tag a {
  opacity: 1.0;
  text-decoration: none;
  font:bold .9em Times;
}




.tag a:visited{
	color: #1e212a;
}

.chooseTag{
  font-weight: bold;
}
.chooseTag:hover{
  background-color: lightgreen;  
}

.foundTag {
  background-color: yellow;
}
